{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'oktothek_backend', 'dropdown': ''} %}
{% endblock %}
{% block body_main %}
    <div class="page-header">
        <h1>{{ coursepackage }}</h1>
        <a href="{{ path('oktothek_backend_coursepackages')}}" class="btn btn-default">{{'oktothek.backend_academy_package_header'|trans}}</a>
        <a href="{{ path('oktothek_backend_edit_coursepackage', {'coursepackage': coursepackage.id})}}" class="btn btn-default">{{ 'oktothek_backend_edit_coursepackage'|trans|raw }}</a>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    {%if coursepackage.image is not empty %}
                        <img src="{{ coursepackage.image|thumb(720,1280) }}" class="img img-responsive" />
                    {% endif %}
                </div>
                <div class="panel-footer">
                    {{ coursepackage.description|default('oktothek.backend_academy_show_coursepackage_no_desc'|trans) }}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <dl class="dl-horizontal">
              <dt>{{ 'oktothek.backend_coursepackage_name_label'|trans}}</dt>
              <dd>{{ coursepackage }}</dd>

              <dt>{{ 'oktothek.backend_coursepackage_description_label'|trans}}</dt>
              <dd>{{ coursepackage.description }}</dd>

              <dt>{{ 'oktothek.backend_coursepackage_price_label'|trans}}</dt>
              <dd>{{ coursepackage.price }}</dd>

              <dt>{{ 'oktothek.backend_coursepackage_priceReduced_label'|trans}}</dt>
              <dd>{{ coursepackage.priceReduced }}</dd>

              <dt>{{ 'oktothek.backend_course_isActive_label'|trans}}</dt>
              <dd>{{ 'oktothek.backend_course_isActive_choice'|transchoice(coursepackage.isActive)}}</dd>
            </dl>
        </div>
    </div>

    <h3>{{ 'oktothek.backend_academy_show_coursepackage_coursetypes'|trans }}</h3>
    <div class="list-group">
        {% for coursetype in coursepackage.coursetypes %}
            <a href="{{ path('oktothek_backend_show_coursetype', {'coursetype': coursetype.id})}}" class="list-group-item">{{ coursetype }}</a>
        {% endfor %}
    </div>
{% endblock %}
