{% extends "BprsStyleBundle::layout.html.twig" %}

{% block title%}{{ searchphrase~' | '~name|default('OKTO') }}{% endblock %}
{%- block nav_head -%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'oktothek', 'dropdown': ''} %}
{%- endblock -%}

{% set body_class = "tagpage fullscreen-background" %}
{%- block body -%}
    <div id="top"></div>
        <div class="container-fluid" itemscope="itemscope" itemtype="http://schema.org/SearchResultsPage">
            <div class="bg-bleur"></div>
            <header>
                <h1>{{ 'oktothek_results_header'|trans({'%searchphrase%': searchphrase}) }}</h1>
            </header>
            <div class="container content-bg">
            {% if episodes is not empty %}
                <section class="inc-pins">
                    <h2>{{ 'oktothek_tag_episode_header'|trans }}</h2>
                    {% include "AppBundle::Tag/episodeTag.html.twig" with {'episodes': episodes} %}
                </section>
            {% endif %}
            {% if seriess is not empty %}
                <section class="inc-pins">
                    <h2>{{ 'oktothek_tag_series_header'|trans }}</h2>
                    {% include "AppBundle::Tag/seriesTag.html.twig" with {'seriess': seriess} %}
                </section>
            {% endif %}
            {% if playlists is not empty %}
                <section class="inc-pins">
                    <h2>{{ 'oktothek_tag_playlists_header'|trans }}</h2>
                    {% include "AppBundle::Tag/playlistTag.html.twig" with {'playlists': playlists} %}
                </section>
            {% endif %}
            {% if coursetypes is not empty %}
                <section class="inc-pins">
                    <h2>{{ 'oktothek_search_courses_header'|trans }}</h2>
                    {% include "AppBundle::Search/coursetypeResults.html.twig" with {'coursetypes': coursetypes } %}
                </section>
            {% endif %}
        </div>
{%- endblock -%}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/tagpage.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/css/collapse_windows.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/css/news.css') }}" rel="stylesheet" />
    {% if episodes is not empty %}
        <style type="text/css">
            .bg-bleur {
                background-image:url( {{ episodes[0].posterframe(true)|path(720,1280) }});
            }
        </style>
    {% endif %}
{% endblock %}
