<div class="search-tagnav-container collapse navbar-collapse" id="search-container">
    <div class="search-tagnav-position">
        {{ form_start(searchform, {'attr': {'class': 'navbar-form', 'role': 'search'}})}}
        <div class="form-group searchfield">
            {{ form_row(searchform.submit, {'attr': {'class': 'btn'}}) }}
            <div class="searchfield-container">
                {{ form_widget(searchform.search) }}
            </div>
        </div>
        <div class="dropdown hidden-xs" role="navigation">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuTags" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{ 'oktothek.menu_tag_dropdown'|trans|raw}}</span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="Tagsnavigation">
                {{ render(controller('AppBundle:Tag:menuTags')) }}
            </ul>
        </div>
        {{ form_end(searchform) }}
    </div>
</div>
