{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'oktothek_backend', 'dropdown': ''} %}
{% endblock %}
{% block body_main %}
    <div class="page-header">
        <h1>Kursteilnehmer</h1>
        <!-- Single button -->
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ 'oktothek_backend_show_course_dropdown'|trans|raw }}
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('oktothek_backend_attendee_index') }}">
                        {{ 'oktothek.backend_attendee_show_back_to_index'|trans|raw }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('oktothek_backend_move_attendee', {'attendee': attendee.id})}}">
                        {{ 'oktothek.backend_attendee_move_to_course'|trans|raw }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('oktothek_backend_edit_attendee', {'attendee': attendee.id})}}">
                        {{ 'oktothek.backend_attendee_edit'|trans|raw }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('oktothek_backend_edit_paymentstatus', {'attendee': attendee.id}) }}">
                        {{ 'oktothek.backend_attendee_update_paymentstatus'|trans|raw }}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>{{ 'attendee_info_title'|trans }}</dt>
                <dd>{{ 'oktothek_attendee_title_choice'|transchoice(attendee.title) }}</dd>

                <dt>{{ 'attendee_info_name'|trans }}</dt>
                <dd>{{ attendee.name }}</dd>

                <dt>{{ 'attendee_info_surname'|trans }}</dt>
                <dd>{{ attendee.surname }}</dd>

                <dt>{{ 'oktothek.backend_attendee_info_email'|trans }}</dt>
                <dd>{{ attendee.email }}</dd>

                <dt>{{ 'oktothek.backend_attendee_info_tel'|trans }}</dt>
                <dd>{{ attendee.tel|default('oktothek.backend_attendee_info_no_tel'|trans) }}</dd>

                <dt>{{ 'oktothek.backend_attendee_info_date'|trans }}</dt>
                <dd>{{ attendee.updatedAt|date('oktothek.backend_attendee_info_date_format'|trans) }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{{ 'attendee_info_adress'|trans }}</dt>
                <dd>{{ attendee.adress }}</dd>

                <dt>{{ 'attendee_info_zipcode'|trans }}</dt>
                <dd>{{ attendee.zipcode }}</dd>

                <dt>{{ 'attendee_info_city'|trans }}</dt>
                <dd>{{ attendee.city }}</dd>

                <dt>
                    {{ 'attendee_info_country'|trans }}
                </dt>
                <dd>
                    {{ attendee.countryname }}
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>{{ 'attendee_info_reduced'|trans }}</dt>
                <dd>{{ 'attendee_info_reduced_choice'|transchoice(attendee.reducedEligible) }}</dd>

                <dt>{{ 'attendee_info_transactionId'|trans }}</dt>
                <dd>{{ attendee.transactionId }}</dd>

                <dt>{{ 'attendee_info_paymentStatus'|trans }}</dt>
                <dd>{{ attendee.paymentStatus|trans }}</dd>
            </dl>
            <dl class="dl-horizontal">
                {% if attendee.courses is not empty %}
                    {% for course in attendee.courses %}
                        <dt>{{ 'attendee_info_course'|trans }}</dt>
                        <dd>
                            <a href="{{ path('oktothek_backend_show_course', {'course': course.id})}}">
                                {{ course.coursetype }}
                            </a>
                        </dd>
                    {% endfor %}
                {% endif %}
            </dl>
        </div>
    </div>
{% endblock %}
