{% extends "BprsStyleBundle::layout.html.twig" %}
{% set episodes = bestEpisodes() %}

{% block title%}{{ name|default('OKTO')~' | '~searchphrase }}{% endblock %}
{%- block nav_head -%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'oktothek', 'dropdown': ''} %}
{%- endblock -%}

{% set body_class = "tagpage fullscreen-background" %}
{%- block body -%}
Irgendein fehler ist aufgetreten!
{# render favorites #}
<section class="favorite-videos container">
    <div id="anchor_favorite_videos"></div>
    <h2>{{ 'oktothek.best_videos'|trans }}</h2>
    <p class="subheadline">
        {{ 'oktothek.best_videos_sub'|trans}}
    </p>
    {% include 'AppBundle:Default:EpisodeStack.html.twig' with {'episodes': episodes, 'pager_url': path('oktothek_best_episodes')} %}
</section>
{%- endblock -%}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/tagpage.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/css/collapse_windows.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/css/news.css') }}" rel="stylesheet" />
    {% if episodes is not empty %}
        <style type="text/css">
            .bg-bleur {
                background-image:url( {{ episodes[0].posterframe(true)|thumb(720,1280) }});
            }
        </style>
    {% endif %}
{% endblock %}
