{% extends "BprsStyleBundle::layout.html.twig" %}
{% set episodes = bestEpisodes() %}

{% block title%}{{ name|default('OKTO')~' | '~searchphrase }}{% endblock %}
{%- block nav_head -%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'oktothek', 'dropdown': ''} %}
{%- endblock -%}

{% set body_class = "errorpage" %}
{%- block body -%}
<header class="page-header">
    <h1>Leider nichts gefunden!</h1>
</header>
<section class="container"><p class="subheadline">Vielleicht wirst kann dir die Suche weiter helfen.</p></section>
{# render favorites #}
<section class="favorite-videos container">
    <div id="anchor_favorite_videos"></div>
    <h2 class="sr-only">{{ 'oktothek.best_videos'|trans }}</h2>
    <p class="subheadline">
        Hier kannst du auch noch stöbern!
    </p>
    {% include 'AppBundle:Default:EpisodeStack.html.twig' with {'episodes': episodes, 'pager_url': path('oktothek_best_episodes')} %}
</section>
{%- endblock -%}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/javascript_collapse.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/oktothek.css') }}" rel="stylesheet" />
{% endblock %}
