<div class="row">
    {% for coursetype in coursetypes %}
        <article class="col-lg-3 col-md-3 col-sm-6 col-xs-6 pin" data-placement="right" title="#" id="course{{coursetype.id}}">
            <figure class="academy-pin pin">
                <div class="image-container">
                    <img src="{{ coursetype.image|thumb(303,539) }}" class="img-responsive" alt="{{ coursetype.title }}"/>
                    <div class="preview-button">
                        <div class="preview-content">
                            <div class="bg-opacity"> </div>
                            <a role="button" data-toggle="collapse" href="#collapseDetail{{coursetype.id}}" aria-expanded="false" aria-controls="collapseDetail{{coursetype.id}}">{{ 'oktothek_academy_quickview'|trans }}</a>
                           </div>
                       <div class="preview-icon"><a role="button" data-toggle="collapse" href="#collapseDetail{{coursetype.id}}" aria-expanded="false" aria-controls="collapseDetail{{coursetype.id}}"><div class="pin-icon"><span> </span></div></a></div>
                    </div>
                </div>
                <figcaption>
                    <h3><a href="{{ path('oktothek_academy_coursetype', {'coursetype': coursetype.id}) }}" title="{{ 'oktothek_academy_hover_title'|trans({'%coursetype%': coursetype.title}) }}">{{ coursetype.title }}</a></h3>
                    <p>
                        <span class="price">
                            {% if coursetype.price <= 0 %}
                                {{ 'oktothek_academy_misc_info_free'|trans }}
                            {% else %}
                                {{ 'oktothek_academy_misc_info'|trans({
                                    '%price%': coursetype.price|number_format(2, ',', '.'),
                                    '%price_reduced%': coursetype.priceReduced|number_format(2, ',', '.')
                                    })|raw
                                }}
                            {% endif %}
                        </span>
                    </p>
                </figcaption>
            </figure>

            <!-- Schnellansicht Details Start -->
        <div class="collapse preview collapseWindow" data-placement="right" id="collapseDetail{{coursetype.id}}">
            <div class="collapse-header"> </div>
            <div class="col-md-12 collapse-content">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <h3>{{ coursetype.title }}</h3>
                            <p>{{ coursetype.teaser }}</p>
                            <p><a href="{{ path('oktothek_academy_coursetype', {'coursetype': coursetype.id}) }}" class="more">{{ 'oktothek_academy_show_details'|trans({'%coursetype%': coursetype.title }) }}</a></p>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                            <p class="misc">{{ 'oktothek_academy_duration_choice'|transchoice(coursetype.courses[0].dates|hours) }}</p>
                            <h4>{{ 'oktothek_academy_timetable'|trans }}</h4>
                            <ul class="timetable">
                                {% for course in coursetype.courses %}
                                <li>
                                    <p>
                                        {% for date in course.dates %}
                                        <span>{{ 'oktothek_academy_timetable_date'|trans({'%day%': 'oktothek_academy_timetable_days_choice'|transchoice(date.courseStart|date('N')), '%date%': date.courseStart|date('oktothek_academy_timetable_date_format'|trans)})}}</span>
                                        {{ 'oktothek_academy_timetable_time'|trans({'start': date.courseStart|date('oktothek_academy_timetable_time_format'|trans), 'end': date.courseEnd|date('oktothek_academy_timetable_time_format'|trans)}) }}
                                        {# <span>{{ date.courseStart|date('D, d.m.Y') }}</span> {{ date.courseStart|date('H:i') }} - {{ date.courseEnd|date('H:i') }}<br /> #}
                                        {% endfor %}
                                    </p>
                                    <p class="booking">
                                        <a href="{{ path('oktothek_academy_book_course', {'course': course.id})}}" class="btn btn-default">{{'oktothek_academy_book_course'|trans }}</a>
                                    </p>
                                </li>
                               {% endfor %}
                           </ul>
                       </div>
                   </div>
               </div>
        </div>
        <!-- Schnellansicht Details Ende -->
        </article>
    {% endfor %}
</div>
