{% extends "BprsStyleBundle::layout.html.twig" %}
{% block title %}{{ 'oktothek_academy_header'|trans~' | '~name|default('OKTO') }}{% endblock %}
{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'academy', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "academy payment" %}
{% block body %}
<div class="container">
    <header class="page-header">
        <h1>{{ 'oktothe_academy_book_course_header'|trans({'%coursetype%': course.coursetype.title}) }}</h1>
	</header>
    <section>
    <p>{{ course.coursetype.description }}</p>
    </section>
    <section>
    <h2>{{ 'oktothek_academy_bC_dates'|trans }}</h2>
    {% for date in course.dates %}
    <span>{{ 'oktothek_academy_timetable_date'|trans({'%day%': 'oktothek_academy_timetable_days_choice'|transchoice(date.courseStart|date('N')), '%date%': date.courseStart|date('oktothek_academy_timetable_date_format'|trans)})}}</span>
    {{ 'oktothek_academy_timetable_time'|trans({'start': date.courseStart|date('oktothek_academy_timetable_time_format'|trans), 'end': date.courseEnd|date('oktothek_academy_timetable_time_format'|trans)}) }}
    {% endfor %}
    {% if course.coursetype.price <= 0 %}
        <p>{{ 'oktothek_academy_course_free'|trans }}</p>
    {% else %}
        <p>{{ 'oktothek_academy_misc_info'|trans({'%price%': course.coursetype.price|number_format(2, ',', '.'), '%price_reduced%': course.coursetype.priceReduced|number_format(2, ',', '.')})|raw }}</p>
    {% endif %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        <fieldset>
        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.title) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.name) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.surname) }}
            </div>
        </div>
        {{ form_row(form.adress) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.zipcode) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.city) }}
            </div>
        </div>
        {{ form_row(form.country) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.email) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.tel) }}
            </div>
        </div>
        {{ form_row(form.reducedEligible) }}
        </fieldset>
        <fieldset>
          {% include 'AppBundle:academy:agb.html.twig' %}
        </fieldset>
        <fieldset>
            {{ form_row(form.agb) }}
        </fieldset>
        <fieldset class="privacy">
            <div class="checkbox">
                {{ form_row(form.dsgvo) }}
            </div>
            <legend>{{ 'oktothek_attendee_newsletter_legend'|trans }}</legend>
            <div class="checkbox">
                {{ form_row(form.newsletter) }}
            </div>
            {# uncomment me to enable dsgvo dropdown#}
            <div class="privacy_declaration">
            <p>
                {{ 'oktothek_attendee_privacy_info'|trans }}
            </p>
            <p>
                {% include 'AppBundle:academy:dsgvo.html.twig' %}
            </p>
            </div> {##}
       </fieldset>
       {{ form_row(form.info) }}
    {{ form_end(form) }}
    <p><small>{{ 'oktothek_academy_show_footnote'|trans }}</small></p>

    </section>
</div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/academy.css') }}" rel="stylesheet" />
{% endblock %}
