{% extends "BprsStyleBundle::layout.html.twig" %}
{% block title %}{{ name|default('OKTO')~' | '~'oktothek_academy_header'|trans }}{% endblock %}
{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'academy', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "academy head-white-color" %}
{% block body %}
<div class="container">
    <header class="page-header">
        <h1>{{ 'oktothe_academy_book_course_header'|trans }}</h1>
	</header>
    <p>{{ course.coursetype.title }}</p>
    <p>{{ course.coursetype.description }}</p>
    {% for date in course.dates %}
        <p>{{ date.courseStart|date('H:i d.m.Y')}} - {{ date.courseEnd|date('H:i d.m.Y')}}</p>
    {% endfor %}
    <p>{{ 'oktothek_academy_misc_info'|trans({'%price%': course.coursetype.price, '%price_reduced%': course.coursetype.priceReduced}) }}</p>
    {{ form_start(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
