{% extends "BprsStyleBundle::layout.html.twig" %}
{% block title %}{{ name|default('OKTO')~' | '~'oktothek_academy_header'|trans }}{% endblock %}
{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'academy', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "academy" %}
{% block body %}
<div class="container">
    <header class="page-header">
        <h1>{{ 'oktothe_academy_book_course_header'|trans({'%coursetype%': course.coursetype.title}) }}</h1>
	</header>
    <section>
    <p>{{ course.coursetype.description }}</p>
    </section>
    <section>
    <h2>Termine</h2>
    {% for date in course.dates %}
        <p>{{ date.courseStart|date('D, d.m.Y H:i')}} - {{ date.courseEnd|date('D, d.m.Y H:i')}}</p>
    {% endfor %}
    {% if course.coursetype.price <= 0 %}
        <p>{{ 'oktothek_academy_course_free'|trans }}</p>
    {% else %}
        <p>Vollpreis / Ermäßigter Preis</p>
        <p>{{ 'oktothek_academy_misc_info'|trans({'%price%': course.coursetype.price, '%price_reduced%': course.coursetype.priceReduced}) }}</p>
    {% endif %}
    {{ form_start(form) }}
    {{ form_end(form) }}
    <img src="{{ asset('bundles/bprssofort/images/sofort_175x75.png') }}" class="img img-rounded img-responsive" alt="Sofort&uuml;berweisung" />
    </section>
</div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/academy.css') }}" rel="stylesheet" />
{% endblock %}