<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseDSGVO" aria-expanded="false" aria-controls="collapseDSGVO">
{{ 'oktothek_academy_dsgvo_button'|trans }}
</button>
<div class="collapse" id="collapseDSGVO">
  <div>
      {{ 'oktothek_headline_academy_dsgvo'|trans|markdown }}
      {{ 'oktothek_dsgvo'|trans|markdown }}
      <h3>{{ 'oktothek_academy_subheadline_dsgvo'|trans|markdown }}</h3>
      {{ 'oktothek_academy_dsgvo'|trans|markdown }}
      <h3>{{ 'oktothek_right_subheadline_dsgvo'|trans|markdown }}</h3>
      {{ 'oktothek_right_dsgvo'|trans|markdown }}
      {{ 'oktothek_more_rights_dsgvo'|trans|markdown }}
  </div>
</div>
