{% extends "BprsStyleBundle::layout.html.twig" %}
{% block title %}{{ name|default('OKTO')~' | '~'oktothek_academy_header'|trans }}{% endblock %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'academy', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "academy head-white-color head-transparent-bg fullscreen-images" %}
{% block body %}
    <div id="top"></div>
    <section class="academy-content fs-image-content">
        <div class="academy-ident fs-image-ident">
            <figure class="academy-image fs-image"><div style="background-image:url({{ coursetype.image|link }});"></div></figure>
			<figcaption class="current-course description-wrapper">
			    <div class="container-bg-opacity">
			        <div class="bg-opacity"></div>
				</div>
			    <div class="content-opacity">
					<h1>{{ coursetype.title }}</h1>
				    <p class="facts">Dauer {{ coursetype.courses[0].dates|hours~'h' }}, Kosten {{ 'oktothek_academy_misc_info'|trans({'%price%': coursetype.price, '%price_reduced%': coursetype.priceReduced}) }}</p>
					<p class="description">{{ coursetype.description }}</p>
				</div>
			</figcaption>
		</div>
		<div class="fs-image-misc-mobile">
		    <p>Dauer {{ coursetype.courses[0].dates|hours~'h' }}, Kosten {{ 'oktothek_academy_misc_info'|trans({'%price%': coursetype.price, '%price_reduced%': coursetype.priceReduced}) }}</p>
		</div>
    </section>
    <section class="container academy-description">
        <header class="page-header">
            <h1 id="button_down">Details zu {{ coursetype.title }} <span class="glyphicon glyphicon-chevron-down"> </span></h1>
	    </header>
        <h2>Termine</h2>
		<ul class="timetable">
        {% for course in coursetype.courses if course.isActive %}
		    <li>
			    <p>
                    {% for date in course.dates %}
                        <span>{{ date.courseStart|date('d.m.Y') }}</span> {{ date.courseStart|date('H:i') }} - {{ date.courseEnd|date('H:i') }}<br>
                    {% endfor %}
			    </p>
				<p class="booking">
                    <a href="{{ path('oktothek_academy_book_course', {'course': course.id})}}" class="btn btn-default">{{'oktothek_academy_book_course'|trans }}</a>
			    </p>
			</li>
        {% endfor %}
		</ul>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
