{% extends "BprsStyleBundle::layout.html.twig" %}
{% block title %}{{ name|default('OKTO')~' | '~'oktothek_academy_header'|trans }}{% endblock %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'academy', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "academy" %}
{% block body_main %}
    <header class="page-header">
        <!--<h1>{{ 'oktothek_academy_header'|trans }}</h1>-->
    </header>
    <section>
        <h2>Empfohlen</h2>
        {% include "AppBundle:Academy:_courseStack.html.twig" with {'coursetypes': highlights} %}
    </section>
    <!-- Ende Highlights -->
    <!-- Start Kursauflistung -->
    <section class="courses">
        <h2>{{ 'oktothek_academy_courses'|trans }}</h2>
        {% include "AppBundle:Academy:_courseStack.html.twig" with {'coursetypes': coursetypes} %}
        <p><small>* Ermäßigte Preise für StudentInnen, Zivildiener, Menschen mit geringem Einkommen.</small></p>
    </section>
    <!-- Ende Kursauflistung -->
    <!-- Anfang Gruppenangebot -->
    <section class="groups">
        <h2>{{ 'oktothek_academy_b2b'|trans }}</h2>
        <p>{{ 'oktothek_academy_b2b_paragraph'|trans }}</p>
        <p>{{ 'oktothek_academy_b2b_more'|trans({'%email%': oktothek_academy_mail})|raw }}</p>
    </section>
    <!-- Ende Gruppenangebote -->
    <!-- Anfang Newsletter -->
    <section class="newsletter">
        <h2>Informiert bleiben</h2>
        {{ render(controller('AppBundle:Newsletter:subscribe', {'newsletter': oktothek_academy_newsletter }))}}
    </section>
    <!-- Ende Newsletter -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/javascript_collapse.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/academy.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/css/collapse_windows.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/css/academy.css') }}" rel="stylesheet" />
{% endblock %}
