{% extends "BprsStyleBundle::layout.html.twig" %}
{% block title %}{{ name|default('OKTO')~' | '~'oktothek_academy_header'|trans }}{% endblock %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'academy', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "academy head-white-color" %}
{% block body %}
<div class="container">
    <header class="page-header">
        <h1>AKADEMIE</h1>
	</header>
	<!-- Start Highlights -->
    <section>
        <article class="row">
            {% for coursetype in coursetypes if coursetype.highlight %}
                    <div class="pin col-xs-3">
                        <a href="#" title="... ansehen">
                            <figure class="episode-pin pin">
                                <img src="{{ coursetype.image|link }}" class="img-responsive"/>
                            </figure>
                        </a>
                    </div>
                    <div class="description col-xs-9">
                        <h2>{{ coursetype.title }}</h2>
                        <p>{{ coursetype.description }}</p>
                        <p class="misc">{{ coursetype.courses[0].dates|hours~'h' }}</p>
                    </div>
            {% endfor %}
        </article>
	</section>
	<!-- Ende Highlights -->
	<!-- Start Kursauflistung -->
    <section class="courses">
        <h2>Kursangebote</h2>
        {% for coursetype in coursetypes if not coursetype.highlight %}
            <div class="row">
                <article class="col-md-3 col-lg-3 col-sm-8 col-xs-12 pin" data-toggle="tooltip" data-placement="right" title="#">
                    <a href="#" title="... ansehen">
                        <figure class="episode-pin pin">
                            <img src="{{ coursetype.image|link }}" class="img-responsive"/>
    			            <figcaption>
                                <h3>{{ coursetype.title }}</h3>
                                <p>{{ coursetype.courses[0].dates|hours~'h'}} | {{ 'oktothek_academy_misc_info'|trans({'%price%': coursetype.price, '%price_reduced%': coursetype.priceReduced}) }}</p>
    			            </figcaption>
                        </figure>
                    </a>
                </article>
            </div>
        {% endfor %}
    </section>
	<!-- Ende Kursauflistung -->
	<!-- Anfang Gruppenangebot -->
	<section class="groups">
	    <h2>Gruppen Angebote</h2>
		<p>Ob B2B-KundInnen, Kindergartengruppen, Schulkinder, SeniorInnen - wir gehen mit unseren Angeboten ganz auf die individuellen Bedürfnisse unserer KundInnen
ein: Medientrainings für Menschen, die beruflich öfter mal vor der Kamera stehen, Workshops für Schulklassen, private Kindergruppen, die einen Kindergeburtstag
mit einem TV-Workshop verbinden wollen - all das ist bei Okto möglich!</p>
        <p><a href="" title="">Weitere Informationen bekommen Sie hier»</a></p>
	</section>
	<!-- Ende Gruppenangebote -->
	<!-- Anfang Newsletter -->
	<section class="newsletter">
	    <h2>Informiert bleiben</h2>
        <form>
		    <label for="academy_newsletter">Mit dem Academynewsletter bleiben Sie informiert...</label>
		    <div class="input-group">
                <input type="text" class="form-control" placeholder="Email" id="academy_newsletter">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Los!</button>
                    </span>
            </div>
			<!-- /input-group -->
		</form>
	</section>
	<!-- Ende Newsletter -->
</div>
{% endblock %}
