{% block metas %}
<meta name="description" content="">
{% endblock %}
{% block title %}{{ 'oktothek_academy_header'|trans }}{% endblock %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'academy', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "academy" %}
{% block body_main %}
    <header class="page-header">
        <h1 class="sr-only">{{ 'oktothek_academy_header'|trans }}</h1>
    </header>
    <section>
        <h2>{{ 'oktothek_academy_show_recommend'|trans }}</h2>
        {% include "AppBundle:Academy:_courseStack.html.twig" with {'coursetypes': highlights} %}
    </section>
    <!-- Ende Highlights -->

{#    <section>
        <h2>{{ 'oktothek_academy_show_coursepackages'|trans }}</h2>
        {% include "AppBundle:Academy:_coursepackageStack.html.twig" with {'coursepackages': coursepackages} %}
    </section>

    #}

    <!-- Start Kursauflistung -->
    <section class="courses">
        <h2>{{ 'oktothek_academy_courses'|trans }}</h2>
        {% include "AppBundle:Academy:_courseStack.html.twig" with {'coursetypes': coursetypes} %}
        <p><small>{{ 'oktothek_academy_show_footnote'|trans }}</small></p>
    </section>
    <!-- Ende Kursauflistung -->
    <!-- Anfang Gruppenangebot -->
    <section class="groups">
        <h2>{{ 'oktothek_academy_b2b'|trans }}</h2>
        <p>{{ 'oktothek_academy_b2b_paragraph'|trans }}</p>
        <p>{{ 'oktothek_academy_b2b_more'|trans({'%email%': oktothek_academy_mail})|raw }}</p>
    </section>
    <!-- Ende Gruppenangebote -->
    <!-- Anfang Newsletter -->
    {# Excluded by BAS and SAB
    <section class="newsletter">
        <h2>{{ 'oktothek_academy_show_stay_informed'|trans }}</h2>
        {{ render(controller('AppBundle:Newsletter:subscribe', {'newsletter': oktothek_academy_newsletter }))}}
    </section>
    #}
    <!-- Ende Newsletter -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/javascript_collapse.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/academy.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/css/collapse_windows.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/css/academy.css') }}" rel="stylesheet" />
{% endblock %}
