{% extends "BprsStyleBundle::layout.html.twig" %}
{% block title %}{{ name|default('OKTO')~' | '~'oktothek_academy_header'|trans }}{% endblock %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'academy', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "academy head-white-color" %}
{% block body %}
<div class="container">
    <header class="page-header">
        <h1>{{ coursetype.title }}</h1>
	</header>

    {% for course in coursetype.courses if course.isActive %}
        {% for date in course.dates %}
            {{ date.courseStart|date('H:i d.m.Y') }} - {{ date.courseStart|date('H:i d.m.Y') }}
        {% endfor %}
        <a href="{{ path('oktothek_academy_book_course', {'course': course.id})}}" class="btn btn-default">{{'oktothek_academy_book_course'|trans }}</a>
    {% endfor %}
</div>
{% endblock %}
