{% extends "BprsStyleBundle::layout.html.twig" %}
{% block title %}{{ name|default('OKTO')~' | '~'oktothek_academy_header'|trans }}{% endblock %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'academy', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "academy fullscreen-images" %}
{% block body_main %}
    <div id="top"></div>
    <section class="academy-content fs-image-content">
        <div class="academy-ident fs-image-ident description-overlay">
            <figure class="academy-image fs-image"><div style="background-image:url({# coursetype.image|link #});"></div>
            <figcaption class="current-course description-wrapper">
                <div class="container-bg-opacity">
                    <div class="bg-opacity"></div>
                </div>
                <div class="content-opacity">
                    <h1>{{ coursepackage }}</h1>
                    <p class="facts">Preis usw.</p>
                    <p class="description">{{ coursepackage.description }}</p>
                    <p class="misc">
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target=".collapseShare" aria-expanded="false" aria-controls="collapseShareArea" id="ButtonShare" data-uniqID="#" title="{{ 'oktothek_share_header'|trans }}">{{ 'oktothek_share_header'|trans }}</button>
                    </p>
                </div>
            </figcaption>
            </figure>
        </div>
        <div class="fs-image-misc-mobile">
            <p class="misc"><button type="button" class="btn btn-default" data-toggle="collapse" data-target=".collapseShare" aria-expanded="false" aria-controls="collapseShareArea" id="ButtonShare_mobil" data-uniqID="#" title="{{ 'oktothek_share_header'|trans }}"><span class="share-btn-text">{{ 'oktothek_share_header'|trans }}</span><span class="visible-xs-inline glyphicon glyphicon-share-alt"></span></button></p>
            <p>Preis usw.</p>
        </div>
    </section>
    <section class="container academy-description">
        <!-- Start Collapse Share-->
        {# include 'AppBundle:Academy:snippetCoursetypeShare.html.twig' with {'coursetype': coursetype} #}
        <!-- End Modal Window Share-->
        <header class="page-header">
            <h2 id="button_down">{# 'oktothek_academy_sCt_header_details'|trans({'%coursetype%': coursetype.title}) #}<span class="icon participant-arrow-down"> </span></h2>
        </header>

        <article class="description">{{ coursepackage.description }}</article>
    </section>
    <a href="{{ path('oktothek_academy_book_coursepackage', {'coursepackage': coursepackage.id}) }}" title="{{ 'oktothek_academy_sCp_book_title'|trans({'%title%': coursepackage}) }}">{{ 'oktothek_academy_sCp_book'|trans }}</a>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/academy.css') }}" rel="stylesheet" />
{% endblock %}
