<div class="collapse collapseShare collapseWindow" id="collapseShareArea">
    <div class="collapse-header">
        <div class="triangle"></div>
    </div>
    <div class="collapse-content">
        <h3>Teilen</h3>
        <div class="row">
            <form class="col-lg-7 col-md-7 col-sm-12 col-xs-12"><input type="text" value="" class="form-control" id="sharingurl"></form>
            <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 share-buttons">
                <ul class="socialnetworks">
                {% set share_url = url('oktothek_academy_coursetype', {'coursetype': coursetype.id} ) %}
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}&t={{ coursetype.title|url_encode }}" class="icon-facebook" target="_blank"><span>Facebook</span></a></li>
                    <li><a href="https://twitter.com/oktotv" class="icon-twitter" target="_blank" title="Okto auf Twitter"><span>Twitter</span></a></li>
                    <li><a href="https://plus.google.com/+CommunityTVGmbHWien" class="icon-googleplus" target="_blank" title="Okto auf Google Plus"><span>Google Plus</span></a></li>
                    <li><a href="#" class="icon-instagramm" target="_blank" title="Okto auf Instagramm"><span>Instagramm</span></a></li>
                </ul>
                <a href="mailto:?to=&subject={{ coursetype.title|url_encode }}&body={{ share_url }}" class="btn btn-default">{{ 'oktothek_share_email'|trans }}</a>
            </div>
        </div>
    </div>
</div>
