<h2>{{ 'oktothek.episode_comment_header'|transchoice(comments.getTotalItemCount)|raw }}</h2>
<!-- Kommentar -->
<div class="row">
    <div class="navigation">
        {{ knp_pagination_render(comments) }}
    </div>
    {% for comment in comments %}
    <div class="col-md-1 avatar-container"><div class="avatar2"></div></div>
    <div class="col-md-11 comment">
        <div class="author">{{ 'oktothek.comment_author'|trans({'%name%': comment.user.username, '%date%': comment.createdAt|date('d.m.Y H:i')})|raw }}</div>
        <div class="comment-text">
            <p>{{ comment.text|nl2br }}</p>
        </div>
        <!-- Antwort Container -->
        <div class="comment-answer">
            <a class="answerlink" role="button" data-toggle="collapse" href="#answer_comment_{{ loop.index }}" aria-expanded="false" aria-controls="answer_comment_{{ loop.index }}">{{ 'oktothek.comment_reply_choice'|transchoice(comment.children|length) }}</a>
            <div class="answer-text collapse" id="answer_comment_{{ loop.index }}">

                <!-- Antwort -->
                {% for answer in comment.children %}
                <div class="row">
                    <div class="col-md-1 avatar-container"><div></div></div>
                    <div class="col-md-11 answer">
                        <div class="author">{{ 'oktothek.comment_author'|trans({'%name%': answer.user.username, '%date%': answer.createdAt|date('d.m.Y H:i')})|raw }}</div>
                        <div class="comment-text">
                            <p>{{ answer.text|nl2br }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- Ende Antwort -->
                {% if is_granted('ROLE_USER') %}
                <div class="row comment-form">
                    <div class="col-md-11">
                        {{ render(controller('AppBundle:Comment:answerComment', {'comment': comment.Id}))}}
                    </div>
                </div>
                {% endif %}
            </div>
            <!-- Ende Antwort Container -->
        </div>
    </div>
        {% endfor %}
</div>
    <!-- Ende Kommentar -->
    {% if is_granted('ROLE_USER') %}
    <div class="row comment-form">
        <div class="col-md-11">
                {{ render(controller('AppBundle:Comment:commentEpisode', {'uniqID': uniqID}))}}
        </div>
    </div>
    {% else %}
        <p><a href="{{ path('bprs_user_login') }}" class="btn btn-default login">{{'oktothek_default_login_teaser_link'|trans }}</a></p>
    {% endif %}
