{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'oktothek', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "series head-white-color head-transparent-bg fullscreen-images" %}
{% block body %}
    <div id="top"></div>
    <section class="series-content fs-image-content">
        <div class="series-ident fs-image-ident">
            <figure class="episode-posterframe fs-image">
                <div style="background-image:url({{ series.posterframe|path() }});"></div>
            </figure>
			<figcaption class="current-episode description-wrapper">
			    <div class="container-bg-opacity">
			        <div class="bg-opacity"></div>
				</div>
			    <div class="content-opacity">
					<h1>{{ series.name }}</h1>
					<p class="facts">Eine Serie von Osama Saadalah, Regie Osama Saadalah</p>
					<p class="description">
					    {{ series.description }}</p>
					<p class="more clear-fix"><a class="more pull-right">weiterlesen</a></p>
					<p class="misc">
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target=".collapseShare" aria-expanded="false" aria-controls="collapseShareArea" id="ButtonShare" data-uniqID="#" title="... teilen">Teilen</button> <button type="button" class="btn btn-default" title="... abbonieren">Abbonieren</button>
                    </p>
				</div>
			</figcaption>
		</div>
		<div class="fs-image-misc-mobile">
		    <p class="misc"><button type="button" class="btn btn-default" data-toggle="collapse" data-target=".collapseShare" aria-expanded="false" aria-controls="collapseShareArea" id="ButtonShare" data-uniqID="#" title="... teilen">Teilen</button> <button type="button" class="btn btn-default" title="... abbonieren">Abbonieren</button></p>
		    <p>Eine Serie von Osama Saadalah, Regie Osama Saadalah</p>
		</div>
    </section>
	<section class="container episode-description">
	    <!-- Start Collapse Share-->
        {% include 'AppBundle:Oktothek:snippetSeriesShare.html.twig' with {'series': series} %}
		<!-- End Modal Window Share-->
		<!-- Start Aktuelle Episode -->
		<header><h2 id="button_down">Aktuelle Folge <span class="icon participant-arrow-down"> </span></h2></header>
		<article>
		    <figure class="series-posterframe col-lg-6 col-md-6 col-sm-12 col-xs-12 pin">
                <img src="{{ series.episodes[0].posterframe|path() }}" />
            </figure>
			<div class="series-posterframe col-lg-6 col-md-6 col-sm-12 col-xs-12">
        		    <h3>{{ series.episodes[0].name }}</h3>
        		    <p class="description">{{ series.episodes[0].description }}</p>
        			<a href="{{ path('oktothek_show_episode', {'uniqID': series.episodes[0].uniqID})}}" class="more pull-right">Zur Folge <span class="icon small-arrow-right">&nbsp;</span></a>
			</div>
	    </article>
		<!-- Ende Serienbeschreibung -->
	</section>
    {{ render(controller("AppBundle:Series:episodesWithTagsAjax", { 'uniqID': series.uniqID })) }}
    <section class="blog">
	    <div id="anchor_blog"></div>
	    <div class="container">
            <h2>{{ 'oktothek_series_blog_header'|trans }}</h2>
            {% include 'AppBundle::Default/Series/blog.html.twig' with { 'posts': [series.posts[0]], 'uniqID': series.uniqID } %}
	    </div>
	</section>
	<section class="container">
	    <div class="infos">
		    <h3>Mehr Infos über {{ series.name }} gibt es hier!</h3>
            {% include 'MediaBundle::Reachme/reachme_stack.html.twig' with { 'reachmes': series.reachmes } %}
	    </div>
	</section>
    {% if series.playlists is not empty %}
        <section class="container series-playlists">
    	    <div id="anchor_playlists"></div>
    	    <h2>Playlisten</h2>
            {% include 'AppBundle::Default/Playlist/PlaylistStack.html.twig' with { 'playlists': series.playlists } %}
    	</section>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script text="type/javascript">
        $(document).on('change', '#episode-tag', function(){
            var optionSelected = $("option:selected", this);
            console.log(optionSelected);
            console.log($(optionSelected).attr('data-slug'));
            var slug = $(optionSelected).attr('data-slug');
            $.ajax({
                url: "{{ path('oktothek_series_episodes_with_tags_ajax', {'uniqID': series.uniqID}) }}",
                data: {'tag': slug},
                type: 'POST',
                success: function(data) {
                    $('#episode-tag-stack').replaceWith('<div id="episode-tag-stack">'+data+'<div>');
                }
            })
        })
    </script>
{% endblock %}
