{% if episode.name is empty %}
    {% set episodetitle = 'oktothek_episode_thumb_default_title'|trans(
        {'%date%': 'oktothek_episode_thumb_timestamp_format'|trans({
            '%day%': 'oktothek_episode_thumb_day_choice'|transchoice(episode.firstRanAt|default(episode.onlineStart)|date('N')),
            '%date%': episode.firstRanAt|default(episode.onlineStart)|date('oktothek_episode_thumb_date_format'|trans)
            })
        }
    ) %}
{% else %}
    {% set episodetitle = episode.name %}
{% endif %}

<li class="col-md-3 col-lg-3 col-sm-6 col-xs-6 pin" title="{{ episode.description }}" itemscope itemtype="http://schema.org/VideoObject">
    <figure class="episode-pin pin">
        <a href="{{ path('oktothek_show_episode', {'uniqID': episode.uniqID}) }}" title="{{ 'oktothek_episode_thumb_img'|trans({'%episode%': episodetitle}) }}">
            <meta itemprop="thumbnailUrl" content="{{ episode.name|default('oktothek_episode_thumb_default_name'|trans({'%date%': episode.firstRanAt|date('oktothek_episode_thumb_date_format'|trans)}) ) }}" />
            <meta itemprop="uploadDate" content="" />
            <img src="{{ episode.posterframe(true)|thumb(158,282) }}" class="img-responsive" alt="{{ 'oktothek_episode_thumb_img'|trans({'%episode%': episode.name|default('oktothek_episode_thumb_default_name'|trans({'%date%': episode.firstRanAt|date('oktothek_episode_thumb_date_format'|trans)})) }) }}"/>
        </a>
        <div class="pin-icon" title="{{ 'oktothek_episode_thumb_likes_title_choice'|transchoice(episode.users|length) }}"><span class="glyphicon glyphicon-heart"></span>{{ episode.users|length }}</div>
        <figcaption>
            <h3 itemscope itemtype="http://schema.org/CreativeWorkSeries" itemprop="partOfSeries">
                <a href="{{ path('oktothek_show_series', {'uniqID': episode.series.uniqID}) }}" title="{{ 'oktothek_episode_thumb_series_title'|trans({'%series%': episode.series.name}) }}" itemprop="url"><span itemprop="name">{{ episode.series.name }}</span></a>
            </h3>
            <p itemprop="name">
                <a href="{{ path('oktothek_show_episode', {'uniqID': episode.uniqID}) }}" title="{{ 'oktothek_episode_thumb_title'|trans({'%episode%': episodetitle}) }}" itemprop="url">
                    {% if episode.name is empty %}
                        {{ episodetitle }}
                    {% else %}
                        {{ episode.name }}
                    {% endif %}
                </a>
            </p>
        </figcaption>
    </figure>
</li>
