{% extends "BprsStyleBundle::layout.html.twig" %}

{% block body -%}
    <h1>Episode creation</h1>

    {{ form_start(form) }}
        {% include "BprsAssetBundle::singleUpload.html.twig" with {'widget': form.posterframe, 'adapter': 'gallery', 'hidePrevious': true, 'uploadID':'posterframe_id'} %}
        {% include "BprsAssetBundle::singleUpload.html.twig" with {'widget': form.video, 'adapter': 'video', 'hidePrevious': true, 'uploadID':'video_id'} %}
    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('episode') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/bprsasset/css/jquery.fileupload.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include "BprsAssetBundle::singleUpload.js.twig" %}
{% endblock %}
