{% extends "BprsStyleBundle::layout.html.twig" %}

{% block title %}{{ 'oktothek.newest_episodes_title'|trans }}{% endblock %}
{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'oktothek', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "clip_overview" %}
{% block body_main %}
    <header class="page-header">
        <h1 itemprop="headline">{{ 'oktothek.newest_episodes_header'|trans }}</h1>
    </header>
    <section class="container" itemscope="itemscope" itemtype="http://schema.org/VideoGallery">
    <h2 class="sr-only">Episoden</h2>
        <div class="row pager-row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="filter_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{ 'oktothek.user_favorites_filter'|trans|raw }}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="filter_menu">
                        <li {% if episodes.isSorted('e.name') %}class="active"{% endif %}>
                            {{ knp_pagination_sortable(episodes, 'oktothek.favorite_index_filter_name'|trans, 'e.name') }}
                        </li>
                        <li {% if episodes.isSorted('e.firstranAt') %}class="active"{% endif %}>
                            {{ knp_pagination_sortable(episodes, 'oktothek.favorite_index_filter_firstranAt'|trans, 'e.firstranAt') }}
                        </li>
                        <li {% if episodes.isSorted('s.name') %}class="active"{% endif %}>
                            {{ knp_pagination_sortable(episodes, 'oktothek.favorite_index_filter_series'|trans, 's.name') }}
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="row" itemscope="itemscope" itemtype="http://schema.org/ItemList">
+            {% for episode in episodes %}
+                {% include 'AppBundle:Episode:EpisodeThumb.html.twig' %}
+            {% endfor %}
+           </ul>
+           <div class="row">
                <div class="navigation">
                    {{ knp_pagination_render(episodes) }}                
                </div>
            </div>
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-6">
            <div class="navigation">
                {{ knp_pagination_render(episodes) }}
            </div>
        </div>
</section>
{% endblock %}
