<ul class="row">
    {% for post in posts %}
        <li class="cold-md-6 col-lg-6 col-xs-12" title="{{ post.name }}" itemscope="itemscope" itemtype="http://schema.org/ListItem" itemprop="itemListElement">
            <figure>
                <a href="{{ path('oktothek_show_series_blogpost', {'slug': post.slug}) }}">
                    {% if post.assets is not empty %}
                        {% if post.assets[0]|isImage %}
                            <img src="{{ post.assets[0]|thumb(220,220) }}" class="img img-responsive" alt="{{ post.name }}"/>
                        {% else %}
                            <img src="{{ post.series.posterframe|thumb(220,220) }}" class="img img-responsive" alt="{{ post.name }}"/>
                        {% endif %}
                    {% else %}
                        <img src="{{ post.series.posterframe|thumb(220,220) }}" class="img img-responsive" alt="{{ post.name }}"/>
                    {% endif %}
                </a>
                <figcaption>
                    {% for tag in post.tags %}
                        <a href="{{ path('oktothek_tag_show', {'slug': tag.slug}) }}">{{ tag.text}}</a>
                    {% endfor %}
                    <h3><a href="{{ path('oktothek_show_series_blogpost', {'slug': post.slug}) }}">{{ post.name }}</a></h3>
                    <p>
                        {{ post.teaser }}
                    </p>
                    <p>
                        {{ 'oktothek_series_blogpost_stack_creator'|trans({'%creator%': post.series, '%link%': path('oktothek_show_series', {'uniqID': post.series.uniqID})})|raw }}
                    </p>
                </figcaption>
            </figure>
        </li>
    {% endfor %}
</ul>
