{% set collapse_id = collapse_id|default('collapse_rand_'~ random()) %}

<ul class="row">
    {% for playlist in playlists|slice(0,4) %}
        {% include "AppBundle:Default/Playlist:PlaylistThumb.html.twig" %}
    {% endfor %}
</ul>
{% if playlists|length > 4 %}
    <ul class="row collapse" id="{{ collapse_id }}">
        {% for playlist in playlists|slice(4,3) %}
            {% include "AppBundle:Default/Playlist:PlaylistThumb.html.twig" %}
        {% endfor %}
        {% if playlists|length > 7 %}
            <article class="col-md-3 col-lg-3 col-sm-6 col-xs-6 pin more">
                <figure class="episode-pin pin">
                    <a href="{{ pager_url|default(path('oktothek_playlist_index')) }}">
                        {{ pager_link_text|default('oktothek_more_results'|trans|raw)}}
                    </a>
                </figure>
            </article>
        {% endif %}
    </ul>
    <a href="{{ collapse_link|default('#'~collapse_id) }}"
        class="pull-right more"
        title=""
        data-toggle="collapse"
        aria-controls=""
        data-lesstrans='{{collapse_link_text_less|default('oktothek.newest_playlists_show_less'|trans)|raw }}'
        data-moretrans='{{ collapse_link_text|default('oktothek.newest_playlists_show_more'|trans)|raw }}'
    >
        {{ 'oktothek.newest_playlists_show_more'|trans|raw }}
    </a>
{% endif %}
