{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'backend', 'dropdown': ''} %}
{% endblock %}
{% block body %}
<div class="page-header">
    <h1>{{ 'oktothek.backend_academy_header'|trans}}</h1>
    <a href="{{ path('oktothek_backend_new_coursetype') }}" class="btn btn-default">{{'oktothek_backend_academy_new_coursetype'|trans }}</a>
</div>

<div class="list-group">
{% for coursetype in coursetypes %}
    <a href="{{ path('oktothek_backend_show_coursetype', {'coursetype': coursetype.id})}}" class="list-group-item">{{ coursetype }}</a>
{% endfor %}
</div>
{% endblock %}
