{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'oktothek_backend', 'dropdown': ''} %}
{% endblock %}
{% block body_main %}
    <div class="page-header">
        <h1>{{ course.coursetype }}</h1>
        <!-- Single button -->
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ 'oktothek_backend_show_course_dropdown'|trans|raw }}
          </button>
          <ul class="dropdown-menu">
              <li>
                  <a href="{{ path('oktothek_backend_show_coursetype', {'coursetype': course.coursetype.id})}}">
                      {{'oktothek_backend_show_course_back_to_type'|trans|raw }}
                  </a>
              </li>
              <li>
                  <a href="{{ path('oktothek_backend_edit_course', {'course': course.id})}}">
                      {{ 'oktothek_backend_edit_course'|trans|raw }}
                  </a>
              </li>
              <li>
                  <a href="{{ path('oktothek_backend_create_attendee', {'course': course.id})}}">
                      {{ 'oktothek_backend_show_course_create_attendee'|trans|raw }}
                  </a>
              </li>
          </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>{{ 'oktothek_backend_course_trainer'|trans }}</dt>
                <dd>{{ course.trainer }}</dd>
                <dt>{{ 'oktothek_backend_course_type'|trans }}</dt>
                <dd>{{ course.coursetype }}</dd>
                <dt>{{ 'oktothek_backend_course_maxAttendees'|trans }}</dt>
                <dd>{{ course.maxAttendees }}</dd>
                <dt>{{ 'oktothek_backend_course_currentAttendees'|trans }}</dt>
                <dd>{{ course.attendees|length }}</dd>
            </dl>
            <ul class="list-group">
                {% for date in course.dates %}
                <li class="list-group-item">
                    {{ 'oktothek_backend_course_timestamp'|trans({
                            '%starttime%': date.courseStart|date('oktothek_backend_course_start_time_format'|trans),
                            '%endtime%': date.courseEnd|date('oktothek_backend_course_end_time_format'|trans)
                        })
                    }}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-8">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{{ 'oktothek.backend_course_attendee_name'|trans }}</th>
                        <th>{{ 'oktothek.backend_course_attendee_status'|trans }}</th>
                        <th>
                            {{ 'oktothek.backend_course_attendee_present'|trans}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for attendee in course.attendees %}
                        <tr>
                            <td>
                                <a href="{{ path('oktothek_backend_show_attendee', {'attendee': attendee.id })}}">
                                    {{
                                        'oktothek.backend_attendee_full_name'|trans({
                                            '%title%': 'oktothek_attendee_title_choice'|transchoice(attendee.title),
                                            '%firstname%': attendee.name,
                                            '%lastname%': attendee.surname
                                        })
                                    }}
                                </a>
                            </td>
                            <td>{{ attendee.paymentStatus|trans }}</td>
                            <td>
                                {{ 'oktothek.bakcend_course_attendee_present_choice'|transchoice(attendee.present)}}
                            </td>
                        </tr>
                    {% endfor %}
                    {% if course.attendees is empty %}
                        <tr><td colspan="2">Noch keine Teilnehmer</td></tr>
                    {% endif %}
                <tbody>
            </table>
        </div>
    </div>
{% endblock %}
