{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'oktothek_backend', 'dropdown': ''} %}
{% endblock %}
{% block body_main %}
    <div class="page-header">
        <h1>{{ coursetype }}</h1>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="filter_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{ 'oktothek.backend_coursetype_dropdown'|trans|raw }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="filter_menu">
                <li>
                    <a href="{{ path('oktothek_backend_courses')}}">
                        {{ 'oktothek_backend_back_to_coursetypes'|trans|raw }}
                    </a>
                </li>
                <li>
                    <a href="{{path('oktothek_backend_new_course', {'coursetype': coursetype.id})}}">
                        {{ 'oktothek_backend_new_course'|trans|raw }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('oktothek_backend_edit_coursetype', {'coursetype': coursetype.id})}}">
                        {{ 'oktothek_backend_edit_coursetype'|trans|raw }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>
                            {{ 'oktothek_backend_coursetype_price_info'|trans }}
                        </td>
                        <td>
                            {{ 'oktothek_backend_courstype_price'|trans({'%amount%': coursetype.price}) }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ 'oktothek_backend_coursetype_price_reduced_info'|trans }}
                        </td>
                        <td>
                            {{ 'oktothek_backend_courstype_price_reduced'|trans({'%amount%': coursetype.priceReduced}) }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ 'oktothek_backend_coursetype_highlight_info'|trans }}
                        </td>
                        <td>
                            {{ 'oktothek_backend_courstype_highligt_choice'|transchoice(coursetype.highlight) }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ 'oktothek_backend_coursetype_isActive_info'|trans }}
                        </td>
                        <td>
                            {{ 'oktothek_backend_courstype_isActive_choice'|transchoice(coursetype.isActive) }}
                        </td>
                    </tr>
                    {% for asset in coursetype.assets %}
                    <tr>
                        <td>
                            {{ 'oktothek_backend_coursetype_attachment_info'|trans }}
                        </td>
                        <td>
                            {{ asset.name }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="panel panel-default">
                <div class="panel-body">
                    {%if coursetype.image is not empty %}
                        <img src="{{ coursetype.image|link }}" class="img img-responsive" />
                    {% endif %}
                </div>
                <div class="panel-footer">
                    {{ coursetype.description }}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="navigation">
                {{ knp_pagination_render(courses) }}
            </div>
            <div class="row">
                {% for course in courses %}
                    <div class="col-md-4">
                        <ul class="list-group">
                            <li class="list-group-item{% if course.isActive %} list-group-item-success{% else %} list-group-item-danger{% endif %}">
                                <span class="badge">{{ 'oktothek_backend_course_badge'|trans({'%current%': course.attendees|length, '%max%': course.maxAttendees})}}</span>
                                <a href="{{ path('oktothek_backend_show_course', {'course': course.id}) }}">
                                {% if course.dates is empty %}
                                    {{ 'oktothek_backend_course_no_dates'|trans }}
                                {% else %}
                                    {{ 'oktothek_backend_course_month_choice'|transchoice(course.dates[0].courseStart|date('n')) }}
                                {% endif %}
                                </a>
                            </li>
                            {% for date in course.dates %}
                                <li class="list-group-item">
                                    {{ 'oktothek_backend_course_timestamp'|trans({
                                            '%starttime%': date.courseStart|date('oktothek_backend_course_start_time_format'|trans),
                                            '%endtime%': date.courseEnd|date('oktothek_backend_course_end_time_format'|trans)
                                        })
                                    }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
