<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        {% block metas %}{% endblock %}
        <title>{% block title %}{{ name|default() }}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('bundles/bprsstyle/img/favicon.ico') }}">
        <link rel="apple-touch-icon" href="{{ asset('bundles/bprsstyle/img/apple-touch-icon.png') }}">
    </head>
    <body class="{{ body_class|default('') }}">
        {% block javascripts %}
            <script src="{{ asset('bundles/bprsstyle/js/jquery2.1.4.js') }}"></script>
            <script src="{{ asset('bundles/bprsstyle/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/javascript.js') }}"></script>
        {% endblock %}
        {% block header %}{% endblock %}
        {% block messages %}{% endblock %}
        <div class="container-fluid">
            {% block body %}{% endblock %}
            {% block footer %}{% endblock %}
        </div>
    </body>
</html>
