<!DOCTYPE html>
<html lang="de">
    <head>
        <meta name="google-site-verification" content="ySv6KHypkl1KdZURP_V6KmSQGS1H2HsK6oGe9u5XcD4" />
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block metas %}{% endblock %}
        <base href="{{ app.request.getSchemeAndHttpHost() }}/">
        <title>{% block title %}{{ name|default() }}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('bundles/bprsstyle/img/favicon.ico') }}">
        <link rel="apple-touch-icon" href="{{ asset('bundles/bprsstyle/img/apple-touch-icon.png') }}">
        <script type="text/javascript">
            var _paq = _paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="https://matomo.okto.tv/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', '1']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
    </head>
    <body class="{{ body_class|default('') }}" itemscope="itemscope" itemtype="http://schema.org/WebPage">
        {% block javascripts %}
            <script src="{{ asset('bundles/bprsstyle/js/jquery2.1.4.js') }}"></script>
            <script src="{{ asset('bundles/bprsstyle/js/bootstrap.min.js') }}"></script>
            <!--[if lt IE 9]>
            <script>
                document.createElement('header');
                document.createElement('figure');
                document.createElement('nav');
                document.createElement('section');
                document.createElement('article');
                document.createElement('aside');
                document.createElement('footer');
                document.createElement('time');
            </script>
            <![endif]-->
            <script src="{{ asset('bundles/app/js/javascript.js') }}"></script>
        {% endblock %}
        {% block header %}{% endblock %}
        {% block messages %}{% endblock %}
        <main class="container-fluid">
            {% block body %}{% endblock %}
            {% block footer %}{% endblock %}
        </main>
        {% block javascript_footer %}
        {% endblock %}
    </body>
</html>
