{# Here is an example Menu. You'll want to overwrite this in app/Resources/BprsStyleBundle/views/menu.html.twig #}
{% block menu %}
	<div class="collapse navbar-collapse" role="navigation">
		<ul class="nav navbar-nav mainmenu">
        	<li {% if selected == "oktothek" %}class="active"{% endif %}>
            	<a href="{{ path('homepage') }}">{{ 'oktothek.menu_oktothek'|trans }}</a>
        	</li>
        	<li {% if selected == "tv" %}class="active"{% endif %}>
            	<a href="{{ path('tv') }}">{{ 'oktothek.menu_tv'|trans }}</a>
       	 	</li>
        	<li {% if selected == "participate" %}class="active"{% endif %}>
            	<a href="{{ path('participate') }}">{{ 'oktothek.menu_participate'|trans }}</a>
        	</li>
        	<li {% if selected == "academy" %}class="active"{% endif %}>
            	<a href="{{ path('oktothek_academy') }}">{{ 'oktothek.menu_academy'|trans }}</a>
        	</li>
    	</ul>
        {# example for an login area #}
        <ul class="nav navbar-nav navbar-right">
        	<li {% if selected == "upload" %}class="active"{% endif %}><a href="{{ intake_url|default('#') }}" target="_blank">HOCHLADEN</a></li>
        	{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
            	<li {% if dropdown == "dropdown_1" %}class="dropdown active"{% else %}class="dropdown"{% endif %}>
                	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ app.user.username }}</a>
                	<ul class="dropdown-menu" role="menu">
                    	<li {% if selected == "backend" %}class="active"{% endif %}>
                        	<a href="{{ path('backend') }}">Backend</a>
                    	</li>
                    	<li {% if selected == "series" %}class="active"{% endif %}>
                        	<a href="{{ path('oktolab_series')}}">Sendereihen</a>
                    	</li>
                    	{% if is_granted('ROLE_ADMIN') %}
                        	<li {% if selected == "selected_8" %}class="active"{% endif %}>
                            	<a href="#">Schlüsselbund</a>
                        	</li>
                    	{% endif %}
                    	<li role="separator" class="divider"></li>
                    	<li><a href="#"><span class="glyphicon glyphicon-off" aria-hidden="true" style="color:red"></span> {{'bprs_user.button.logout'|trans}}</a><li>
                	</ul>
            	</li>
        	{% else %}
            	<li {% if selected == "login" %}class="active"{% endif %}><a href="{{ path('bprs_user_login') }}"> {{ 'bprs_user.button.login'|trans }}</a></li>
        	{% endif %}
        	</ul>
			<ul class="nav navbar-nav visible-xs-block">
                <li><h3>Beliebteste Themen</h3></li>
				<li><a href="#">Kunst &amp; Kultur</a></li>
			  	<li><a href="#">Musik</a></li>
			  	<li><a href="#">Film</a></li>
			  	<li><a href="#">Oktotainment</a></li>
			  	<li><a href="#">Info</a></li>
			  	<li><a href="#">Zivilgesellschaft</a></li>
			  	<li><a href="#">Magazin</a></li>
			  	<li><a href="#">Talk</a></li>
			</ul>
		</div>
		<div class="search-tagnav-container">
            <div class="search-tagnav-position">
			    <form class="navbar-form" role="search">
        		    <div class="form-group searchfield">
                        <button type="submit" class="btn"></button>
          			    <div class="searchfield-container"><input type="text" class="form-control" placeholder="Suche"></div>
        		    </div>
			    </form>
			    <div class="dropdown" role="navigation">
  				    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuTags" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Themen <span class="caret"></span>
  				    </button>
  				    <ul class="dropdown-menu" aria-labelledby="Tagsnavigation">
			  		    <li><a href="#">Kunst &amp; Kultur</a></li>
			  		    <li><a href="#">Musik</a></li>
			  		    <li><a href="#">Film</a></li>
			  		    <li><a href="#">Oktotainment</a></li>
			  		    <li><a href="#">Info</a></li>
			  		    <li><a href="#">Zivilgesellschaft</a></li>
			  		    <li><a href="#">Magazin</a></li>
			  		    <li><a href="#">Talk</a></li>
			  	    </ul>
			    </div>
            </div>
	   </div>
{% endblock %}
