{% extends "BprsStyleBundle::base.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('bundles/bprsstyle/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/bprsstyle/css/custom.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/css/custom.css') }}" rel="stylesheet" />
{% endblock %}

{% block header %}
    {% block header_content %}
    {% endblock %}
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <a href="#top" acceskey="1" class="focusable">Zum Inhalt springen</a>
            <div class="container-fluid">
                <nav>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed menu-button" data-toggle="collapse" data-target="#mainmenu-container" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                            <span class="sr-only">{{ 'oktothek_layout_navigation'|trans }}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span aria-hidden="true" class="icon-close">&times;</span>
                        </button>
                        <button type="button" class="navbar-toggle collapsed search-button" data-toggle="collapse" data-target="#search-container">
                            <span class="sr-only">{{ 'oktothek_layout_search'|trans }}</span>
                            <span class="glyphicon glyphicon-search"></span>
                            <span aria-hidden="true" class="icon-close">&times;</span>
                        </button>
                        <a class="navbar-brand" href="{{ path('homepage')}}" itemprop="publisher" itemscope="itemscope" itemtype="http://schema.org/TelevisionStation">
                            <meta itemprop="name" content="Okto Community TV">
                            <meta itemprop="logo" content="{{ absolute_url(asset('bundles/app/images/okto_logo.png')) }}">
                            <meta itemprop="image" content="{{ absolute_url(asset('bundles/app/images/img_8_3.png')) }}">
                            <meta itemprop="telephone" content="+43 1 786 2442">
                            <meta itemprop="address" content="Goldschlagstraße 172/4, 1140 Wien">
                            <div class="brandimage"><span>{{ name|default('') }}</span></div>
                        </a>
                    </div>
                    <div class="navbar-content">
                        {% block nav_head%}
                        {% endblock %}
                    </div>
                </nav>
            </div>
        </div>
    </header>
{% endblock %}

{% block messages %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="container">
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'oktothek_layout_flashmessage_close'|trans }}"><span aria-hidden="true">×</span></button>
                {{ flashMessage|trans }}
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="container">
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'oktothek_layout_flashmessage_close'|trans }}"><span aria-hidden="true">×</span></button>
                {{ flashMessage|trans }}
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="container">
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'oktothek_layout_flashmessage_close'|trans }}"><span aria-hidden="true">×</span></button>
                {{ flashMessage|trans }}
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="container">
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'oktothek_layout_flashmessage_close'|trans }}"><span aria-hidden="true">×</span></button>
                {{ flashMessage|trans }}
            </div>
        </div>
    {% endfor %}
    
    {% for flashMessage in app.session.flashbag.get('important_info') %}
        <div class="container">
            <div class="alert alert-warning alert-dismissible important_info">
                <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'oktothek_layout_flashmessage_close'|trans }}"><span aria-hidden="true">×</span></button>
                {{ flashMessage|trans }}
            </div>
        </div>
    {% endfor %}
{% endblock %}


{% block body %}
    <div class="container">
        {% block body_main %}
        {% endblock %}
    </div>
{% endblock %}

{% block footer %}
    {% include 'AppBundle::default/footer.html.twig' %}
{% endblock %}
