{% if posts|length > 0%}
	<div class="row">
    <div class="col-md-9 col-lg-9 col-sm-9 col-xs-9 news-pin">
{% endif %}
{% for post in posts %}
    {% include 'AppBundle:News:_newsRow.html.twig' with {'post': post, 'newsloop': loop.index } %}
    <div class="comments comment-pager">{{ render(controller("AppBundle:Comment:commentPager", {'uniqID': post.uniqID, 'page': 1})) }}</div>
{% endfor %}
{% if posts|length > 0%}
    </div>
	<aside class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
	    <div class="aside-inner clearfix">
	        <ul>
                {% for teaser in teasers %}
                    <li>
                        <time pubdate="pubdate">{{ teaser.updatedAt|date('d.m.Y')}}</time>
                        <p><a href="{{ path('oktothek_show_series_blogpost', {'uniqID': series.uniqID, 'slug': teaser.slug})}}">{{ teaser.name }}</a></p>
                    </li>
                {% endfor %}
                <li>
                    <p><a href="{{ path('oktothek_show_series_blog', {'uniqID': series.uniqID})}}">Zum Blog</a></p>
                </li>
		    </ul>
		</div>
	</aside>
	</div>
{% endif %}
