<li class="col-md-3 col-lg-3 col-sm-6 col-xs-6 pin" title="{{ series.description }}" itemscope="itemscope" itemtype="http://schema.org/Series">
    <figure class="series-pin pin">
        <a href="{{ url|default(path('oktothek_show_series', {'uniqID': series.uniqID})) }}" title="{{ series.name }}">
            <meta itemprop="thumbnailUrl" content="{{ series.posterframe|thumb(158,282) }}" />
            <meta itemprop="url" content="{{ path|default(path('oktothek_show_series', {'uniqID': series.uniqID})) }}" />
            <img src="{{ series.posterframe|thumb(158,282) }}" class="img-responsive" alt="{{ series.name }}" itemprop="image"/>
        </a>
        <div class="pin-icon new" title="Hier gibt es eine neue Episode">NEU</div>
        <figcaption>
            <a href="{{ url|default(path('oktothek_show_series', {'uniqID': series.uniqID})) }}" title="{{ series.name }}">
                <h3 itemprop="name">{{ series.name }}</h3>
            </a>
            {% if render_description is defined %}
                <p class="series-description">{{ series.description }}</p>
            {% endif %}
        </figcaption>
    </figure>
</li>
