<section class="container more-clips" itemscope="itemscope" itemtype="http://schema.org/CreativeWorkSeries">
    <h2>{{ 'oktothek.more_from_this_series'|trans }}</h2>
    <meta itemprop="name" content="{{ series.name }}">
    <div class="container-episode-tag">
        <span class="caret"></span>
        <select class="form-control ghost" id="episode-tag">
            <option data-slug="all">{{ 'oktothek_series_episodes_all'|trans }}</option>
            {% for tag in series_tags %}
             <option data-slug="{{ tag.slug}}">{{ tag.text }}</option>
            {% endfor %}
        </select>
    </div>
    <div itemprop="hasPart">
    <div id="episode-tag-stack" itemscope="itemscope" itemtype="http://schema.org/ItemList">
        {% if selected_tag is defined %}
            {% include 'AppBundle::series/episodeStackOpen.html.twig' with {'episodes': episodes, 'pager_url': path('oktothek_show_series_episodes_with_tag', {'uniqID': series.uniqID, 'tag': selected_tag.id})} %}
        {% else %}
            {% include 'AppBundle::series/episodeStackOpen.html.twig' with {'episodes': episodes, 'pager_url': path('oktothek_show_series_episodes', {'uniqID': series.uniqID})} %}
        {% endif %}
    </div>
    </div>
</section>
