{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'backend', 'dropdown': 'producer'} %}
{% endblock %}

{% block body_main %}

{% include 'AppBundle::Series/producerHeader.html.twig' with {'active': 'producer_playlists', 'series': series} %}
<p>{{ 'oktothek.series_producer_playlists_text'|trans }}</p>


<div class="navigation">
    {{ knp_pagination_render(playlists) }}
</div>
<div class="list-group">
    {% for playlist in playlists %}
    <a href="{{ path('oktothek_show_playlist', {'uniqID': playlist.uniqID})}}" class="list-group-item">
        <div class="row">
            <div class="col-md-3">
                {# <img class="img img-responsive" src="{{ episode.posterframe|thumb(135,240)}}" /> #}
            </div>
            <div class="col-md-9">
                <h4 class="list-group-item-heading">{{ playlists.name }}</h4>
                <p class="list-group-item-text">{{ playlists.description }}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
<div class="navigation">
    {{ knp_pagination_render(playlists) }}
</div>
<a href="" class="btn btn-default">{{'oktothek.series_producer_new_playlist'|trans|raw }}</a>
{% endblock %}
