{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'backend', 'dropdown': 'producer'} %}
{% endblock %}

{% block body_main %}

{% include 'AppBundle::Series/producerHeader.html.twig' with {'active': 'producer_episodes', 'series': episode.series} %}
<p>{{ 'oktothek.series_producer_episode_text'|trans }}</p>

<div class="row">
    <div class="col-md-8">
        <div id="analytics"></div>
    </div>
    <div class="col-md-4">
        <div id="player"></div>
        <ul class="list-group">
            <li class="list-group-item">
                <h4 class="list-group-item-header">{{ episode.name }}</h4>
                <p class="list-group-item-text">{{ episode.description }}</p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-header">{{ 'oktothek.series_producer_episode_favorites'|trans }}</h4>
                <p class="list-group-item-text">{{ episode.users|length }}</p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-header">{{ 'oktothek.series_producer_episode_tags'|trans }}</h4>
                <p class="list-group-item-text">
                    <ul>
                        {% for tag in episode.tags %}
                            <li>{{ tag }}</li>
                        {% endfor %}
                    </ul>
                </p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-header">{{ 'oktothek.series_producer_episode_files'|trans }}</h4>
                <p class="list-group-item-text">
                    <ul>
                        {% for media in episode.media if media.public %}
                            <li><a href="{{ path('bprs_asset_download', {'key': media.asset.filekey })}}">{{ 'oktothek.series_producer_episode_download'|trans({'%file%': media.quality})|raw }}</a></li>
                        {% endfor %}
                    </ul>
                </p>
            </li>
        </ul>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ player(episode)|raw }}
    <script>
        $(document).ready(function(){
            // analytics
            $.ajax({
                url: "{{ path('bprs_analytics_for_values') }}",
                data: {
                    'values': {'uniqID': {{ episode.uniqID }}}
                },
                type: 'POST',
                success: function(data) {
                    $('#analytics').append(data);
                }
            });
        });
    </script>
{% endblock %}
