{% spaceless %}
<div>
    {% for reachme in reachmes %}
        {% if constant('Okto\\MediaBundle\\Entity\\Reachme::TYPE_MAIL') == reachme.type %}
            <p class="contact"><strong>Kontakt:</strong> <a href="mailto:{{reachme.uri}}">{{reachme.uri}}</a></p>
        {% endif %}
    {% endfor %}
    <ul class="socialnetworks">
        {% for reachme in reachmes %}
            {% if constant('Okto\\MediaBundle\\Entity\\Reachme::TYPE_FB') == reachme.type %}
                <li><a href="{{ reachme.uri }}" class="icon-facebook" target="_blank"><span>{{ 'oktothek_series_reachmestack_fb'|trans }}</span></a></li>
            {% elseif constant('Okto\\MediaBundle\\Entity\\Reachme::TYPE_TWITTER') == reachme.type %}
                <li><a href="{{ reachme.uri }}" class="icon-twitter" target="_blank"><span>{{ 'oktothek_series_reachmestack_tw'|trans }}</span></a></li>
            {% elseif constant('Okto\\MediaBundle\\Entity\\Reachme::TYPE_INST') == reachme.type %}
                <li><a href="{{ reachme.uri }}" class="icon-instagramm" target="_blank"><span>{{ 'oktothek_series_reachmestack_inst'|trans }}</span></a></li>
            {% elseif constant('Okto\\MediaBundle\\Entity\\Reachme::TYPE_GP') == reachme.type %}
                <li><a href="{{ reachme.uri }}" class="icon-googleplus" target="_blank"><span>{{ 'oktothek_series_reachmestack_gp'|trans }}</span></a></li>
            {% elseif constant('Okto\\MediaBundle\\Entity\\Reachme::TYPE_MAIL') == reachme.type %}
            {% elseif ('Okto\\MediaBundle\\Entity\\Reachme::TYPE_LINK') == reachme.type%}
                <li><a href="{{ reachme.uri }}" class="icon-link" target="_blank"><span>{{ 'oktothek_series_reachmestack_link'|trans }}</span></a></li>
            {% else %}
                <li><a href="{{ reachme.uri }}" class="icon-link" target="_blank"><span>{{ 'oktothek_series_reachmestack_other'|trans }}</span></a></li>
            {% endif %}
        {% endfor %}
    </ul>
 </div>
{% endspaceless %}
