{% extends "BprsStyleBundle::layout.html.twig" %}
{% block metas %}
    <meta name="description" content="{{ series.description }}">
    <meta property="og:url" content="{{ url('oktothek_show_series', {'uniqID': series.uniqID })}}" />
    <meta property="og:title" content="{{ series.name }}" />
    <meta property="og:description" content="{{ series.description }}" />
    <meta property="og:image" content="{{ series.posterframe|thumb(720,1280) }}" />
{% endblock %}

{% block title %}{{ series.name ~' | '~ name|default('OKTO') }}{% endblock %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'oktothek', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "series fullscreen-images" %}
{% block body %}
{% if app.user is not empty %}
    {% set in_abo = false %}
    {% for abonnement in app.user.abonnements if abonnement.series.uniqID == series.uniqID %}
        {% set in_abo = true %}
    {% endfor %}
{% endif %}
    <div id="top"></div>
    <div itemscope itemtype="http://schema.org/CreativeWorkSeries">
    <section class="series-content fs-image-content">
        <div class="series-ident fs-image-ident description-overlay">
            <figure class="episode-posterframe fs-image">
                <div style="background-image:url({{ series.posterframe|thumb(900,1600) }});"></div>
                <figcaption class="current-episode description-wrapper">
                    <div class="container-bg-opacity">
                        <div class="bg-opacity"></div>
                    </div>
                    <div class="content-opacity">
                        <h1 itemprop="headline">{{ series.name }}</h1>
                        <p class="facts"></p>
                        <p class="description" itemprop="description">
                            {{ series.description }}</p>
                        <p class="more clear-fix"><a class="more pull-right" href="#">weiterlesen</a></p>
                        <p class="misc">
                        <button type="button" class="btn btn-default hidden-xs" data-toggle="collapse" data-target=".collapseShare" aria-expanded="false" aria-controls="collapseShareArea" id="ButtonShare" data-uniqID="#" title="... teilen">Teilen</button>
                        {% if app.user is not empty %}
                            {% if in_abo %}
                                <button type="button" class="btn btn-default subscribe" title="{{ series.name }} abbonieren" data-subscribed="1">{{ 'oktothek_user_unsubscribe'|trans|raw }}</button>
                            {% else %}
                                <button type="button" class="btn btn-default subscribe" title="{{ series.name }} abbonieren" data-subscribed="0">{{ 'oktothek_user_subscribe'|trans|raw }}</button>
                            {% endif %}
                        {% endif %}
                        {% if is_granted('ROLE_USER') %}
                            <a href="{{ path('oktolab_series_show', {'series': series.uniqID}) }}" class="btn btn-default backend">{{ 'oktothek.series_show_in_backend'|trans }}</a>
                        {% endif %}
                        </p>
                    </div>
                </figcaption>
            </figure>
        </div>
        <div class="fs-image-misc-mobile">
            {% if app.user is not empty %}
                {% if in_abo %}
                    <button type="button" class="btn btn-default subscribe" title="{{ series.name }} abbonieren" data-subscribed="1">{{ 'oktothek_user_unsubscribe'|trans|raw }}</button>
                {% else %}
                    <button type="button" class="btn btn-default subscribe" title="{{ series.name }} abbonieren" data-subscribed="0">{{ 'oktothek_user_subscribe'|trans|raw }}</button>
                {% endif %}
            {% endif %}
            <button type="button" class="btn btn-default" data-toggle="collapse" data-target=".collapseShare" aria-expanded="false" aria-controls="collapseShareArea" id="ButtonShare_mobil" data-uniqID="#" title="{{ 'oktothek_share_header'|trans }}"><span class="share-btn-text">{{ 'oktothek_share_header'|trans }}</span><span class="visible-xs-inline glyphicon glyphicon-share-alt"></span></button>
        </div>
    </section>
    <section class="container episode-description" itemscope itemtype="http://schema.org/hasPart">
        <!-- Start Collapse Share-->
        {% include 'AppBundle:oktothek:snippetSeriesShare.html.twig' with {'series': series} %}
        <!-- End Modal Window Share-->
        <!-- Start Aktuelle Episode -->
        <header class="page-header"><h2 id="button_down">Aktuelle Folge <span class="icon participant-arrow-down"> </span></h2></header>
        <article class="row" itemscope itemtype="http://schema.org/Episode">
            <figure class="series-posterframe col-lg-6 col-md-6 col-sm-12 col-xs-12 pin">
                <a href="{{ path('oktothek_show_episode', {'uniqID': newest_episode.uniqID})}}">
                    <img src="{{ newest_episode.posterframe(true)|thumb(720,1280) }}" alt="{{ newest_episode.description }}" itemprop="image" />
                </a>
            </figure>
            <div class="series-posterframe col-lg-6 col-md-6 col-sm-12 col-xs-12 pin">
                <div>
                    <h3 itemprop="name">{{ newest_episode.name }}</h3>
                    <p class="description" itemprop="description">{{ newest_episode.description }}</p>
                </div>
                <a href="{{ path('oktothek_show_episode', {'uniqID': newest_episode.uniqID})}}" class="more pull-right" itemprop="url">Zur Folge <span class="icon small-arrow-right">&nbsp;</span></a>
            </div>
        </article>
        <!-- Ende Serienbeschreibung -->
    </section>
    {{ render(controller("AppBundle:series:episodesWithTagsAjax", { 'uniqID': series.uniqID })) }}
    {% if teasers is not empty %}
        <section class="blog">
            <div id="anchor_blog"></div>
            <div class="container" itemscope itemtype="http://schema.org/Blog">
                <h2>{{ 'oktothek_series_blog_header'|trans }}</h2>
                {% include 'AppBundle::series/snippetBlog.html.twig' with {'teasers': teasers, 'uniqID': series.uniqID} %}
            </div>
        </section>
    {% endif %}
    {% if series.reachmes is not empty %}
        <section class="container">
            <div class="infos">
                <h3>{{ 'oktothek.series_reachmes_header'|trans({'%series%': series.name})}}</h3>
                {% include 'AppBundle::series/reachmeStack.html.twig' with { 'reachmes': series.reachmes } %}
            </div>
        </section>
    {% endif %}
    {% if series.playlists is not empty %}
        <section class="container series-playlists">
            <div id="anchor_playlists"></div>
            <h2>{{ 'oktothek.series_playlist_header'|trans}}</h2>
            {% include 'AppBundle::playlist/_stack.html.twig' with { 'playlists': series.playlists, 'pager_url': path('oktothek_show_series_playlists', {'uniqID': series.uniqID}) } %}
        </section>
    {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/imagesloaded.pkgd.min.js')}}"></script>
    <script src="{{ asset('bundles/app/js/javascript_images.js') }}"></script>
	<script src="{{ asset('bundles/app/js/javascript_collapse.js') }}"></script>
    <script type="text/javascript">
        $(document).on('change', '#episode-tag', function(){
            var optionSelected = $("option:selected", this);
            console.log(optionSelected);
            console.log($(optionSelected).attr('data-slug'));
            var slug = $(optionSelected).attr('data-slug');
            $.ajax({
                url: "{{ path('oktothek_series_episodes_with_tags_ajax', {'uniqID': series.uniqID}) }}",
                data: {'tag': slug},
                type: 'POST',
                success: function(data) {
                    $('#episode-tag-stack').replaceWith('<div id="episode-tag-stack">'+data+'<div>');
                }
            })
        });
        $(document).ready(function(){
            // subscribe/unsubscribe
            $('.subscribe').click(function(e){
                e.preventDefault();
                $.ajax({
                    url: "{{ path('user_update_subscription') }}",
                    data: { 'uniqID': '{{ series.uniqID }}'},
                    type: 'POST',
                    success: function(data) {
                        var button = $('.subscribe');
                        if (button.attr('data-subscribed') == '1') {
                            console.log('now unsubscribed');
                            button.attr('data-subscribed', '0');
                            button.text('{{'oktothek_user_subscribe'|trans|raw}}');
                        } else {
                            console.log('now subscribed');
                            button.attr('data-subscribed', '1');
                            button.text('{{'oktothek_user_unsubscribe'|trans|raw }}');
                        }
                    }
                })
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/fs_images.css') }}" rel="stylesheet" />
	<link href="{{ asset('bundles/app/css/collapse_windows.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/css/news.css') }}" rel="stylesheet" />
{% endblock %}
