<div class="row">
    <div class="col-md-9 col-lg-9 col-sm-9 col-xs-12 news-pin">
        {% include 'AppBundle:News:_newsRow.html.twig' with {'post': teasers[0]} %}
        <div class="comments comment-pager">
            {{ render(controller("AppBundle:Comment:commentPager", {'uniqID': teasers[0].uniqID, 'page': 1})) }}
        </div>
    </div>
    <aside class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
        <div class="aside-inner clearfix">
            <ul>
                {% for teaser in teasers %}
                    <li>
                        <time pubdate="pubdate">{{ teaser.updatedAt|date('d.m.Y')}}</time>
                        <p>
                            <a href="{{ path('oktothek_show_series_blogpost', {'uniqID': series.uniqID, 'slug': teaser.slug})}}">{{ teaser.name }}</a>
                        </p>
                    </li>
                {% endfor %}
                <li>
                    <p>
                        <a href="{{ path('oktothek_show_series_blog', {'uniqID': series.uniqID})}}" class="more">{{ 'oktothek.series_show_blog'|trans }}</a>
                    </p>
                </li>
            </ul>
        </div>
    </aside>
</div>
