{% extends "BprsStyleBundle::layout.html.twig" %}

{% block title%}{{ name|default('OKTO')~' | '~tag.text }}{% endblock %}
{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'oktothek', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "clip_overview" %}
{% block body %}
<div id="top"></div>
<div class="container-fluid">
    <div class="bg-bleur"></div>
    <header class="container page-header">
        <h1>{{ 'oktothek.tag_pager_episode_header'|trans({'%tag%': tag}) }}</h1>
        {% include "AppBundle:Default:_share.html.twig" with {'show_button': true} %}
    </header>
</div>
<section class="container">
    <div class="row pager-row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="filter_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{ 'oktothek.user_favorites_filter'|trans|raw }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="filter_menu">
                    <li {% if episodes.isSorted('e.name') %}class="active"{% endif %}>{{ knp_pagination_sortable(episodes, 'oktothek.favorite_index_filter_name'|trans, 'e.name') }}</li>
                    <li {% if episodes.isSorted('e.firstranAt') %}class="active"{% endif %}>{{ knp_pagination_sortable(episodes, 'oktothek.favorite_index_filter_firstranAt'|trans, 'e.firstranAt') }}</li>
                </ul>
            </div>
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-6 navigation">
            {{ knp_pagination_render(episodes) }}
        </div>
    </div>
    <div class="row">
    {% for episode in episodes %}
        {% include "AppBundle:Default:EpisodeThumb.html.twig" %}
    {% endfor %}
    </div>
    <div class="row">
        <div class="navigation">
            {{ knp_pagination_render(episodes) }}
        </div>
    </div>
</section>
{% endblock %}
