<div class="row clip-tags">
{% for episode in episodes|slice(0,5) %}
    {% if loop.first %}
        <article class="col-md-6 col-lg-6 col-sm-12 col-xs-12 pin first-pin" title="{{ episode.description }}" itemscope="itemscope" itemtype="http://schema.org/ListItem" itemprop="itemListElement">
            <meta itemprop="url" content="{{ path('oktothek_show_episode', {'uniqID': episode.uniqID}) }}">
            <meta itemprop="position" content="1">
            <figure class="episode-pin pin" itemscope="itemscope" itemtype="http://schema.org/Episode">
                <meta itemprop="thumbnailUrl" content="{{ episode.posterframe(true)|thumb(158,282) }}" />
                <meta itemprop="datePublished" content="{{ episode.firstranAt|date('Y-m-d')}}" />
                <a href="{{ path('oktothek_show_episode', {'uniqID': episode.uniqID}) }}" title="{{ episode.name }} ansehen">
                    <img src="{{ episode.posterframe(true)|path() }}" class="img-responsive" alt="{{ episode.name }} - {{ episode.series.name|default('') }}" itemprop="image"/>
                </a>
                <div class="pin-icon"><span class="glyphicon glyphicon-heart"></span> {{ episode.users|length }}</div>
                <figcaption>
                    <h3 itemscope="itemscope" itemtype="http://schema.org/CreativeWorkSeries" itemprop="partOfSeries"><a href="{{ path('oktothek_show_series', {'uniqID': episode.series.uniqID}) }}" title="{{ episode.series.name|default('') }}" itemprop="url"><span itemprop="name">{{ episode.series.name }}</span></a></h3>
                    <p><a href="{{ path('oktothek_show_episode', {'uniqID': episode.uniqID}) }}" title="{{ episode.name }} ansehen" itemprop="url"><span itemprop="name">{{ episode.name }}</span></a></p>
                </figcaption>
            </figure>
        </article>
        <ul class="col-md-6 col-lg-6 col-sm-12 col-xs-12 small-pins">
    {% else %}
        {% include "AppBundle:Episode:EpisodeThumb.html.twig" %}
    {% endif %}
{% endfor %}
{% set numberOfEpisodes = 5 - episodes|slice(0,5)|length %}
{% for i in 0..numberOfEpisodes if i > 0 %}
    <li class="col-md-6 col-lg-6 col-sm-12 col-xs-12 pin empty"><figure><div class="icon-player"><div class="triangle"></div></div></figure></li>
{% endfor %}
    </ul>
</div>
