<div class="row">
{% for episode in episodes %}
    {% if loop.first %}
        <article class="col-md-6 col-lg-6 col-sm-8 col-xs-12 pin first-pin" title="{{ episode.description }}">
        <a href="{{ path('oktothek_show_episode', {'uniqID': episode.uniqID}) }}" title="... ansehen">
        <figure class="episode-pin pin">
            <img src="{{ episode.posterframe|path() }}" class="img-responsive"/>
            <figcaption>
                <h3>{{ episode.series.name }}</h3>
                <p>{{ episode.name }}</p>
                <p><span class="glyphicon glyphicon-heart"></span> {{ episode.users|length }}</p>
            </figcaption>
        </figure>
        </a>
        </article>
        <div class="col-md-6 col-lg-6 col-sm-8 col-xs-12 small-pins">
            <div class="row">
    {% else %}
        <article class="col-md-6 col-lg-6 col-sm-8 col-xs-12 pin" title="{{ episode.description }}">
            <a href="{{ path('oktothek_show_episode', {'uniqID': episode.uniqID}) }}" title="... ansehen">
            <figure class="episode-pin pin">
                <img src="{{ episode.posterframe|path() }}" class="img-responsive"/>
                <figcaption>
                    <h3>{{ episode.series.name }}</h3>
                    <p>{{ episode.name }}</p>
                    <p><span class="glyphicon glyphicon-heart"></span> {{ episode.users|length }}</p>
                </figcaption>
            </figure>
            </a>
        </article>
    {% endif %}
    {% if loop.last %}
            </div>
        </div>
    {% endif %}
{% endfor %}
</div>
