<div class="row clip-tags">
{% for episode in episodes|slice(0,5) %}
    {% if loop.first %}
        <article class="col-md-6 col-lg-6 col-sm-12 col-xs-12 pin first-pin" title="{{ episode.description }}">
            <figure class="episode-pin pin">
                <a href="{{ path('oktothek_show_episode', {'uniqID': episode.uniqID}) }}" title="{{ episode.name }} ansehen">
                    <img src="{{ episode.posterframe(true)|path() }}" class="img-responsive" alt="{{ episode.name }} - {{ episode.series.name|default('') }}"/>
                </a>
                <div class="pin-icon"><span class="glyphicon glyphicon-heart"></span> {{ episode.users|length }}</div>
                <figcaption>
                    <h3><a href="{{ path('oktothek_show_series', {'uniqID': episode.series.uniqID}) }}" title="Mehr über {{ episode.series.name|default('') }} lesen">{{ episode.series.name }}</a></h3>
                    <p><a href="{{ path('oktothek_show_episode', {'uniqID': episode.uniqID}) }}" title="{{ episode.name }} ansehen">{{ episode.name }}</a></p>
                </figcaption>
            </figure>
        </article>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 small-pins">
    {% else %}
        {% include "AppBundle:Default/Episode:EpisodeThumb.html.twig" %}
    {% endif %}
{% endfor %}
{% set numberOfEpisodes = 5 - episodes|slice(0,5)|length %}
{% for i in 0..numberOfEpisodes if i > 0 %}
    <article class="col-md-6 col-lg-6 col-sm-12 col-xs-12 pin empty"><figure><div class="icon-player"><div class="triangle"></div></div></figure></article>
{% endfor %}
    </div>
</div>
