<div class="row">
    {% for playlist in playlists|slice(0,5) %}
        {% if loop.first %}
            <article class="col-md-6 col-lg-6 col-sm-12 col-xs-12 pin first-pin" data-toggle="tooltip" title="{{ playlist.description }}" itemscope="itemscope" itemtype="http://schema.org/VideoGallery">
                <figure class="playlist-pin pin">
                    {% if playlist.items is not empty %}
                    <a href="{{ path('oktothek_show_playlist', {'uniqID': playlist.uniqID}) }}" itemprop="thumbnailUrl">
                        <meta itemprop="thumbnailUrl" content="{{ playlist.items[0].episode.posterframe(true)|thumb(135,240) }}" />
                        <img src="{{ playlist.items[0].episode.posterframe|thumb(309,550) }}" class="img-responsive" alt="{{ playlist.name }}{% if playlist.user %}, {{ 'oktothek_playlist_thumb_creator'|trans({'%user%': playlist.user.username}) }}{% endif %}" itemprop="image" /></a>
                    {% endif %}
                    <figcaption>
                        <h3 itemprop="name"><a href="{{ path('oktothek_show_playlist', {'uniqID': playlist.uniqID}) }}" title="{{ 'oktothek_tag_playlists_show'|trans({'%playlist%': playlist.name}) }}">{{ playlist.name }}</a></h3>
                        <p>
                            {% if playlist.user %}
                            <meta itemprop="author" content="{{ playlist.user.username }}">
                            <a href="{{ path('oktothek_show_user', {'username': playlist.user.username}) }}" title="{{ 'oktothek_tag_playlists_user_show'|trans({'%user%': playlist.user.username}) }}">
                                {{ 'oktothek_playlist_thumb_creator'|trans({'%user%': playlist.user.username}) }}
                            </a>
                            {% endif %}
                        </p>
                    </figcaption>
                </figure>
            </article>
            <ul class="col-md-6 col-lg-6 col-sm-12 col-xs-12 small-pins">
        {% else %}
            {% include "AppBundle:default/Playlist:PlaylistThumb.html.twig" %}
        {% endif %}
    {% endfor %}
    {% set numberOfPlaylists = 5 - playlists|slice(0,5)|length %}
    {% for i in 0..numberOfPlaylists if i > 0 %}
        <li class="col-md-6 col-lg-6 col-sm-12 col-xs-12 pin empty"><figure><div class="icon-player"><div class="triangle"></div></div></figure></li>
    {% endfor %}
    </ul>
</div>
