<div class="row">
    {% for series in seriess|slice(0,5) %}
        {% if loop.first %}
            <article class="col-md-6 col-lg-6 col-sm-12 col-xs-12 pin first-pin" title="{{ series.description }}" itemscope="itemscope" itemtype="http://schema.org/Series">
                <figure class="series-pin pin">
                    <a href="{{ path('oktothek_show_series', {'uniqID': series.uniqID}) }}" title="{{ series.name }}">
                        <meta itemprop="thumbnailUrl" content="{{ series.posterframe|thumb(309,550) }}" />
                        <meta itemprop="url" content="{{ url|default(path('oktothek_show_series', {'uniqID': series.uniqID})) }}" />
                        <img src="{{ series.posterframe|thumb(309,550) }}" class="img-responsive" alt="{{ series.name }}" itemprop="image" />
                    </a>
                    <figcaption>
                        <a href="{{ path('oktothek_show_series', {'uniqID': series.uniqID}) }}" title="{{ series.name }}">
                            <h3 itemprop="name">{{ series.name }}</h3>
                        </a>
                    </figcaption>
                </figure>
            </article>
            <ul class="col-md-6 col-lg-6 col-sm-12 col-xs-12 small-pins">
        {% else %}
            {% include "AppBundle:default/Series:SeriesThumb.html.twig" %}
        {% endif %}
    {% endfor %}
    {% set numberofseries = 5 - seriess|slice(0,5)|length %}
    {% for i in 0..numberofseries if i > 0 %}
        <li class="col-md-6 col-lg-6 col-sm-12 col-xs-12 pin empty"><figure><div class="icon-player"><div class="triangle"></div></div></figure></li>
    {% endfor %}
    </ul>
</div>
