{% extends "BprsStyleBundle::layout.html.twig" %}

{% block title%}{{ name|default('OKTO')~' | '~tag.text }}{% endblock %}
{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'oktothek', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "tagpage head-white-color page-bg head-transparent-bg fullscreen-images" %}
{% block body %}
    <div class="container-fluid">
	    <header class="container">
		    <h1># internet</h1>
			<p class="misc">
                        <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#collapseShare" aria-expanded="false" aria-controls="collapseShare" id="ButtonShare" data-uniqID="#" title="... teilen">Teilen</button> <button type="button" class="btn btn-default" title="... abbonieren">Abbonieren</button><!-- <button type="button" class="btn btn-default active" title="... abbonieren">Abboniert</button>-->
                </p>
				<!-- Start Collapse Share-->
				<div class="collapse" id="collapseShare">
                    <div>
                        <h3>Teilen</h3>
						<div>
						    <div class="btn-group sharingnav">
						        <button type="button" class="btn btn-default active" data-toggle="tab" id="share_sn">Teilen</button>
					        </div>
						</div>
						<div class="tab-content">
						    <div role="tabpanel" class="tab-pane active" id="div_share_sn">
						        <div>
						        <ul class="socialnetworks">
                                    <li><a href="https://www.facebook.com/okto.tv" class="icon-facebook" target="_blank" title="Okto auf Facebook"><span>Facebook</span></a></li>
                                    <li><a href="https://twitter.com/oktotv" class="icon-twitter" target="_blank" title="Okto auf Twitter"><span>Twitter</span></a></li>
                                    <li><a href="https://plus.google.com/+CommunityTVGmbHWien" class="icon-googleplus" target="_blank" title="Okto auf Google Plus"><span>Google Plus</span></a></li>
                                    <li><a href="#" class="icon-instagramm" target="_blank" title="Okto auf Instagramm"><span>Instagramm</span></a></li>
                                    <li><a href="#" class="icon-pinterest" target="_blank" title="Okto auf Pinterest"><span>Pinterest</span></a></li>
                                    <li><a href="https://www.youtube.com/user/oktotv" class="icon-youtube" target="_blank" title="Okto auf YouTube"><span>YouTube</span></a></li>
                                </ul>
							    <button type="button" class="btn btn-default" data-toggle="tab" id="share_email">Email</button>
							</div>
						    <form><input type="text" value="" class="form-control" id="sharingurl"></form>
						</div>
						</div>
                    </div>
                </div>
				<!-- End Collapse Share-->
	    </header>
        <section class="container">
		    <h2>Episoden</h2>
			
			<!-- Anfang EpisodenTag, später löschen -->
			<div class="row">
                <article class="col-md-6 col-lg-6 col-sm-8 col-xs-12 pin first-pin" data-toggle="tooltip" data-placement="right" title="Künstlerisch, schräg und nerdig wird es diesmal bei New Ordner. Gezeigt werden Links zu folgenden Themen: Noisli | Star Trek Apartment | Web GL Path Tracing | Online Ray Tracer | Augmented Reality Sandbox | Anatomically Correct Art | Cyborg Artist | Goldpillen | Cry My IP">
                <a href="/FLUX2/web/app_dev.php/de/oktothek/episode/15963" title="... ansehen">
                <figure class="episode-pin pin">
				    <img src="http://localhost/FLUX2/web/uploads/posterframes/55fc27ed0d2ec135x240_thumbnail.jpg" class="img-responsive"/>
					<figcaption>
                        <h3>New Ordner</h3>
                        <p>Titel</p>
                        <p><span class="glyphicon glyphicon-heart"></span> 1</p>
			        </figcaption>
                </figure>
                </a>
            </article>
			<div class="col-md-6 col-lg-6 col-sm-8 col-xs-12 small-pins">
			  <div class="row">
			<article class="col-md-6 col-lg-6 col-sm-8 col-xs-12 pin" data-toggle="tooltip" data-placement="right" title="Künstlerisch, schräg und nerdig wird es diesmal bei New Ordner. Gezeigt werden Links zu folgenden Themen: Noisli | Star Trek Apartment | Web GL Path Tracing | Online Ray Tracer | Augmented Reality Sandbox | Anatomically Correct Art | Cyborg Artist | Goldpillen | Cry My IP">
                <a href="/FLUX2/web/app_dev.php/de/oktothek/episode/15963" title="... ansehen">
                <figure class="episode-pin pin">
				    <img src="http://localhost/FLUX2/web/uploads/posterframes/55fc27ed0d2ec135x240_thumbnail.jpg" class="img-responsive"/>
					<figcaption>
                        <h3>New Ordner</h3>
                        <p>Titel</p>
                        <p><span class="glyphicon glyphicon-heart"></span> 1</p>
			        </figcaption>
                </figure>
                </a>
            </article>
			<article class="col-md-6 col-lg-6 col-sm-8 col-xs-12 pin" data-toggle="tooltip" data-placement="right" title="Künstlerisch, schräg und nerdig wird es diesmal bei New Ordner. Gezeigt werden Links zu folgenden Themen: Noisli | Star Trek Apartment | Web GL Path Tracing | Online Ray Tracer | Augmented Reality Sandbox | Anatomically Correct Art | Cyborg Artist | Goldpillen | Cry My IP">
                <a href="/FLUX2/web/app_dev.php/de/oktothek/episode/15963" title="... ansehen">
                <figure class="episode-pin pin">
				    <img src="http://localhost/FLUX2/web/uploads/posterframes/55fc27ed0d2ec135x240_thumbnail.jpg" class="img-responsive"/>
					<figcaption>
                        <h3>New Ordner</h3>
                        <p>Titel</p>
                        <p><span class="glyphicon glyphicon-heart"></span> 1</p>
			        </figcaption>
                </figure>
                </a>
            </article>
			</div>
			<div class="row">
			<article class="col-md-6 col-lg-6 col-sm-8 col-xs-12 pin" data-toggle="tooltip" data-placement="right" title="Künstlerisch, schräg und nerdig wird es diesmal bei New Ordner. Gezeigt werden Links zu folgenden Themen: Noisli | Star Trek Apartment | Web GL Path Tracing | Online Ray Tracer | Augmented Reality Sandbox | Anatomically Correct Art | Cyborg Artist | Goldpillen | Cry My IP">
                <a href="/FLUX2/web/app_dev.php/de/oktothek/episode/15963" title="... ansehen">
                <figure class="episode-pin pin">
				    <img src="http://localhost/FLUX2/web/uploads/posterframes/55fc27ed0d2ec135x240_thumbnail.jpg" class="img-responsive"/>
					<figcaption>
                        <h3>New Ordner</h3>
                        <p>Titel</p>
                        <p><span class="glyphicon glyphicon-heart"></span> 1</p>
			        </figcaption>
                </figure>
                </a>
            </article>
			<article class="col-md-6 col-lg-6 col-sm-8 col-xs-12 pin" data-toggle="tooltip" data-placement="right" title="Künstlerisch, schräg und nerdig wird es diesmal bei New Ordner. Gezeigt werden Links zu folgenden Themen: Noisli | Star Trek Apartment | Web GL Path Tracing | Online Ray Tracer | Augmented Reality Sandbox | Anatomically Correct Art | Cyborg Artist | Goldpillen | Cry My IP">
                <a href="/FLUX2/web/app_dev.php/de/oktothek/episode/15963" title="... ansehen">
                <figure class="episode-pin pin">
				    <img src="http://localhost/FLUX2/web/uploads/posterframes/55fc27ed0d2ec135x240_thumbnail.jpg" class="img-responsive"/>
					<figcaption>
                        <h3>New Ordner</h3>
                        <p>Titel</p>
                        <p><span class="glyphicon glyphicon-heart"></span> 1</p>
			        </figcaption>
                </figure>
                </a>
            </article>
			</div>
			</div>
        </div>
		<!-- Ende EpisodenTag, später löschen -->
            <!--{{ render(controller('AppBundle:Tag:episodeTag', {'tag': tag.slug})) }}-->
		</section>
		<section class="container">
		    <h2>Serien</h2>
            {{ render(controller('AppBundle:Tag:seriesTag', {'tag': tag.slug})) }}
		</section>
		<section class="container">
		    <h2>Playlisten</h2>
            {{ render(controller('AppBundle:Tag:playlistTag', {'tag': tag.slug})) }}
		</section>
		<section class="container">
		    <h2>Posts</h2>
            {{ render(controller('AppBundle:Tag:postsTag', {'tag': tag.slug})) }}
		</section>
		<section class="container">
		    <h2>Seiten</h2>
            {{ render(controller('AppBundle:Tag:pagesTag', {'tag': tag.slug})) }}
        </section>
    </div>
{% endblock %}
