{% extends "BprsStyleBundle::layout.html.twig" %}

{% block title%}{{ name|default('OKTO')~' | '~tag.text }}{% endblock %}
{%- block nav_head -%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'oktothek', 'dropdown': ''} %}
{%- endblock -%}

{% set body_class = "tagpage fullscreen-background" %}
{%- block body -%}
    <div id="top"></div>
    <div class="container-fluid">
        <div class="bg-bleur"></div>
        <header>
            <h1>{{ 'oktothek_tag_header'|trans({'%title%': tag.text})}}</h1>
            {% include "AppBundle::Tag/shareTag.html.twig" with {'tag': tag} %}
        </header>
        <div class="container content-bg">
            {% if tag.episodes is not empty %}
                <section class="inc-pins">
                    <h2>{{ 'oktothek_tag_episode_header'|trans }}</h2>
                    {% include "AppBundle::Tag/episodeTag.html.twig" with {'episodes': tag.episodes} %}
                    {% if tag.episodes|length >= 5 %}
                        <a href="{{ path('oktothek_tag_episode_page', {'slug': tag.slug}) }}" class="pull-right more">
                            {{ 'oktothek_tag_more_results'|trans|raw }}
                        </a>
                    {% endif %}
                </section>
            {% endif %}
            {% if seriess is not empty %}
                <section class="inc-pins">
                    <div id="anchor_series"></div>
                    <h2>{{ 'oktothek_tag_series_header'|trans }}</h2>
                    {% include "AppBundle::Tag/seriesTag.html.twig" with {'seriess': seriess} %}
                    {% if seriess|length >= 5 %}
                        <a href="{{ path('oktothek_tag_series_page', {'slug': tag.slug}) }}" class="pull-right more">
                            {{ 'oktothek_tag_more_results'|trans|raw }}
                        </a>
                    {% endif %}
                </section>
            {% endif %}
            {% if playlists is not empty %}
                <section class="inc-pins">
                    <div id="anchor_playlists"></div>
                    <h2>{{ 'oktothek_tag_playlists_header'|trans }}</h2>
                    {% include "AppBundle::Tag/playlistTag.html.twig" with {'playlists': playlists} %}
                    {% if seriess|length >= 5 %}
                        <a href="{{ path('oktothek_tag_playlists_page', {'slug': tag.slug}) }}" class="pull-right more">
                            {{ 'oktothek_tag_more_results'|trans|raw }}
                        </a>
                    {% endif %}
                </section>
            {% endif %}
            {% if tag.posts is not empty %}
                <section>
                    <div id="anchor_posts"></div>
                    <h2>{{ 'oktothek_tag_posts_header'|trans }}</h2>
                    {% include "AppBundle::Tag/postsTag.html.twig" with {'posts': tag.posts} %}
                    <a href="{{ path('oktothek_tag_posts_page', {'slug': tag.slug}) }}" class="pull-right more">{{ 'oktothek_tag_more_results'|trans|raw }}</a>
                </section>
            {% endif %}
            {% if tag.pages is not empty %}
                <section>
                    <div id="anchor_pages"></div>
                    <h2>{{ 'oktothek_tag_pages_header'|trans }}</h2>
                    {% include "AppBundle::Tag/pagesTag.html.twig" with {'pages': tag.pages} %}
                    <a href="{{ path('oktothek_tag_pages_page', {'slug': tag.slug}) }}" class="pull-right more">{{ 'oktothek_tag_more_results'|trans|raw }}</a>
                </section>
        {% endif %}
        </div>
    </div>
{%- endblock -%}
{% block javascripts %}
    {{ parent() }}
	<script src="{{ asset('bundles/app/js/javascript_collapse.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
	<link href="{{ asset('bundles/app/css/collapse_windows.css') }}" rel="stylesheet" />
    <style type="text/css">
        .bg-bleur {
            {% if tag.episodes is not empty %}
                background-image:url( {{ tag.episodes[0].posterframe(true)|thumb(720,1280) }});
            {% endif %}
        }
    </style>
{% endblock %}
