{% extends "BprsStyleBundle::layout.html.twig" %}

{% block title %}{{ 'oktothek.newsletter_register_title'|trans }}{% endblock %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'oktothek', 'dropdown': ''} %}
{% endblock %}


{%- block body_main -%}
<div class="newsletter">
    {{ form_start(newsletterform) }}
        {{ form_row(newsletterform.email) }}
        {{ form_row(newsletterform.confirm) }}
        <p>{{ 'oktothek.newsletter_register_unsubsribe'|trans }}</p>
        {{ form_row(newsletterform.submit) }}
    {{ form_end(newsletterform) }}
</div>
{%- endblock -%}
