<div class="newsletter">
    {{ form_start(newsletterform, {'id': 'form_person_edit'}) }}
        <div class="input-group">
            <label for="newsletterform_email" class="sr-only">{{ 'oktothek.newsletter_label'|trans }}</label>
            {{ form_widget(newsletterform.email) }}
            {{ form_row(newsletterform.submit, {'attr': {'class': 'input-group-addon'}}) }}
        </div>
    {{ form_end(newsletterform) }}
</div>
