<body style="background-image:url({{ absolute_url(asset('bundles/app/images/commentEpisode/space.jpg')) }});background-color:#000000;color:#ffffff;font-family:'Helvetica Neue','Helvetica',Arial,sans-serif;font-size:16px;padding-left:5%;padding-right:5%;line-height:24px;letter-spacing:0.6px;">
    <table style="" border="0" width="100%">
       <tr>
           <td>
              <div style="max-width:600px;margin-left:auto;margin-right:auto;">
                    <p style="">
                      <img src="{{ absolute_url(asset('bundles/app/images/commentEpisode/logo_okto_tv.gif')) }}" width="40" height="66" alt="OKTO Community TV GmbH"/>
                    </p>
                    <div style="padding-top:20px;font-size:20px;font-weight:300;line-height: 27px;text-align: center">
                    <h1 style="font-size: 32px;font-weight:normal;line-height:36px;">
                      {{ 'oktothek.notific_mail.comm_episode_user'|trans({'%user%': notification.user}) }}!
                    </h1>
                        <p>
                            {{
                                'oktothek.notific_mail.comm_episode_message'|trans(
                                    {
                                        '%series_link%': url("oktothek_show_series", {'uniqID': comment.episode.series.uniqID}),
                                        '%series_name%': comment.episode.series.name
                                    }
                                )|raw
                            }}
                        </p>
                  </div>
               </div>
           </td>
       </tr>
    </table>
    <table border="0" width="100%">
        <tr>
            <td>
                <div style="background-color:#333333;font-weight:300;margin-left:auto;margin-right:auto;max-width:600px;">
                    <p>
                        <img src="{{ absolute_url(comment.episode.posterframe(true)|thumb(720,1280)) }}" alt="" style="width: 100%; height: auto"/>
                    </p>
                    <h1 style="font-size: 32px;font-weight:normal;padding-bottom:0px;padding-left:30px;padding-right:30px;margin-bottom:5px;line-height:36px;text-align:center;">
                        {{ comment.episode.name }}
                    </h1>
                    <p style="padding-bottom:20px;padding-top:0px;padding-left:30px;padding-right:30px;margin-top:0;text-align:center;">
                        {{ 'oktothek.notific_mail.comm_episode_timestamp'|trans(
                            {
                                '%day%': comment.episode.firstranAt|date('N'),
                                '%date%': comment.episode.firstranAt|date('oktothek.notific_mail.comm_episode_date_format'|trans)
                            }
                        )}}
                    </p>
                    <div style="background-image:url({{ absolute_url(asset('bundles/app/images/commentEpisode/section_border_small.png'))}});background-repeat: no-repeat;background-position: center;width:100%;height: 40px;"></div>
                    <p style="padding-bottom:30px;padding-left:30px;padding-right:30px;font-size:20px;font-weight:300;line-height: 27px;text-align: center;">
                        <img src="{{ absolute_url(asset('bundles/app/images/commentEpisode/bubble.png'))}}" width="52" height="36" alt=""/>
                        {{ comment.text }}
                    </p>
                    <div style="background-image:url({{ absolute_url(asset('bundles/app/images/commentEpisode/section_border_small.png'))}});background-repeat: no-repeat;background-position: center;width:100%;height: 20px;"></div>
                    <p style="padding-top:30px;padding-bottom:50px;text-align:center">
                        <a href="#" style="background-color:#fcce14;padding-top:15px;padding-left:30px;padding-bottom:15px;padding-right:30px;border-radius:25px;-moz-border-radius:25px;-webkit-border-radius:25px;border-radius:25px;color:#000000;text-decoration:none;text-transform:uppercase;">
                            {{ 'oktothek.notific_mail.comm_episode_discuss'|trans }}
                        </a>
                    </p>
                </div>
                <div style="margin-left:auto;margin-right:auto;margin-top:40px;margin-bottom:60px;max-width:600px;font-size:12px;line-height:16px;color:#dcdcdc;"><p>
                    {{ 'oktothek.notific_mail.comm_episode_abo_settings'|trans(
                        {
                            '%series_link%': url('oktothek_show_series', {'uniqID': comment.episode.series.uniqID}),
                            '%series%':   comment.episode.series.name,
                            '%abo_link%': url('user_update_abonnement', {'abonnement': notification.id})
                        })|raw
                    }}
                    </p>
                    <p style="text-align:center;"><a href="#" style="color:#fcce14;">IMPRESSUM</a></p>
                </div>
            </td>
        </tr>
    </table>
</body>
