<body style="background-image:url({{ absolute_url(asset('bundles/app/images/welcome_mail/space.jpg'))}});background-color:#000000;color:#ffffff;font-family:'Helvetica Neue','Helvetica',Arial,sans-serif;font-size:16px;padding-left:5%;padding-right:5%;line-height:24px;letter-spacing:0.6px;">
    <table style="" border="0" width="100%">
       <tr>
           <td>
              <div style="max-width:600px;margin-left:auto;margin-right:auto;">
                  <p style=""><img src="{{ absolute_url(asset('bundles/app/images/welcome_mail/logo_okto_tv.gif'))}}" width="40" height="66" alt="OKTO Community TV GmbH"/></p>
                  <div style="padding-top:20px;font-size:20px;font-weight:300;line-height: 27px;text-align: center">
                      <h1 style="font-size: 32px;font-weight:normal;line-height:36px;">{{ 'oktothek.notific_mail.new_post_user'|trans({'%user%': notification.user}) }}</h1>
                      <p>
                          {{
                                'oktothek.notific_mail.new_post'|trans({
                                    '%series_link%':    url('oktothek_show_series', {'uniqID': post.series.uniqID}),
                                    '%series%':         post.series.name,
                                    '%post_link%':      url('oktothek_show_series_blogpost', {'slug': post.slug })
                                })|raw
                          }}
                      </p>
                  </div>
               </div>
           </td>
       </tr>
    </table>
    <table border="0" width="100%">
        <tr>
            <td>
                <div style="background-color:#333333;font-weight:300;margin-left:auto;margin-right:auto;max-width:600px;">
                    <p>
                        <a href="{{ url('oktothek_show_series_blogpost', {'slug': post.slug })}}">
                            {% if post.assets is empty %}
                                <img src="{{ absolute_url(post.series.posterframe|thumb(220,390)) }}" style="width: 100%; height: auto" />
                            {% else %}
                                {% if post.assets[0]|isImage %}
                                    <img src="{{ absolute_url(post.assets[0]|thumb(220,390)) }}" style="width: 100%; height: auto" />
                                {% else %}
                                    <img src="{{ absolute_url(post.series.posterframe|thumb(220,390)) }}" style="width: 100%; height: auto" />
                                {% endif %}
                            {% endif %}
                        </a>
                    </p>
                    <h1 style="font-size: 32px;font-weight:normal;padding-bottom:20px;padding-left:30px;padding-right:30px;line-height:36px;text-align:center;">
                        {{ post.name }}
                    </h1>
                    <p style="padding-bottom:30px;padding-left:30px;padding-right:30px;font-size:20px;font-weight:300;line-height: 27px;text-align: center">
                        {{ post.teaser }}
                    </p>
                </div>
                <div style="margin-left:auto;margin-right:auto;margin-top:40px;margin-bottom:60px;max-width:600px;font-size:12px;line-height:16px;color:#dcdcdc;"><p>
                    {{
                        'oktothek.notific_mail.new_post_abo_settings'|trans(
                            {
                                '%series_link%': url('oktothek_show_series', {'uniqID': post.series.uniqID}),
                                '%series%':   post.series.name,
                                '%abo_link%': url('user_update_abonnement', {'abonnement': abonnement.id})
                            }
                        )|raw
                    }}
                    </p>
                    <p style="text-align:center;"><a href="#" style="color:#fcce14;">IMPRESSUM</a></p>
                </div>
            </td>
        </tr>
    </table>
</body>
