<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Unbenanntes Dokument</title>
</head>

<body style="background-color:#000000;color:#ffffff;font-family:'Helvetica Neue','Helvetica',Arial,sans-serif;font-size:16px;font-weight:300;padding-left:5%;padding-right:5%;line-height:27px;letter-spacing:0.6px;">
    <style>
        img.thumbnail {
            width: 100%;
            height: auto;
        }
            @media (max-width: 580px) {
                .clips {
                    width: 100%;
                    margin-left:auto;
                    margin-right:auto;
                }
                .clips td {
                    display: block;
                    width: 100%;
                    text-align: center;
                }
                .clips img {
                    width: 75%;
                }
        }
    </style>
    <table style="background-image:url({{ absolute_url(asset('bundles/app/images/welcome_mail/space.jpg'))}})" border="0" width="100%">
       <tr>
           <td style="background-image: url({{ absolute_url(asset('bundles/app/images/welcome_mail/heinrich_im_emailall.png'))}});background-position: right top;background-repeat: no-repeat;" class="heinrich">
               <div style="max-width:600px;margin-left:auto;margin-right:auto;">
                    <p style=""><img src="{{ absolute_url(asset('bundles/app/images/welcome_mail/logo_okto_tv.gif'))}}" width="40" height="66" alt="OKTO Community TV GmbH"/></p>
                    <h1 style="font-size: 32px;font-weight: normal;padding-top:60px;padding-bottom:30px;line-height:36px;text-align:center;">{{ 'oktothek_user_welcome_header'|trans }}</h1>
                    <p style="padding-bottom:30px; font-size: 20px;">
                        {{ 'oktothek_user_welcome_first_par'|trans }}
                    </p>
               </div>
           </td>
       </tr>
    </table>
    <table border="0" width="100%">
        <tr>
            <td>
                <div style="margin-left:auto;margin-right:auto;max-width:600px;">
                    <p style="padding-bottom:40px;">
                        {{ 'oktothek_user_welcome_second_par'|trans }}
                    </p>
                </div>
                <table style="background-color:#112022;text-align:center;margin-bottom:80px;margin-left:auto;margin-right:auto;max-width:600px;font-size:12px;line-height:18px;" border="0" class="clips">
                    {% set episodes = newestEpisodes(4) %}
                    <tr>
                        {% for episode in episodes|slice(0,2) %}
                            <td width="50%" valign="top">
                                <div style="padding:15px;" >
                                    <a href="{{ url('oktothek_show_episode', {'uniqID': episode.uniqID})}}"><img src="{{ absolute_url(episode.posterframe(true)|thumb(152,270))}}" width="270" height="152" alt="" class="thumbnail"/></a><br>
                                    <h3 style="margin-top:4px;margin-bottom:0px;padding:0;text-transform:uppercase;"><a href="{{ url('oktothek_show_series', {'uniqID': episode.series.uniqID}) }}" style="color:#ffffff;text-decoration:none;">{{ episode.series.name }}</a></h3>
                                    <p style="margin:0;padding:0;font-weight:normal;"><a href="{{ url('oktothek_show_episode', {'uniqID': episode.uniqID})}}" style="color:#ffffff;text-decoration:none;">{{ episode.name }}</a></p>
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for episode in episodes|slice(2,2) %}
                            <td width="50%" valign="top">
                                <div style="padding:15px;" >
                                    <img src="{{ absolute_url(episode.posterframe(true)|thumb(152,270))}}" width="270" height="152" alt="" class="thumbnail"/><br>
                                    <h3 style="margin-top:4px;margin-bottom:0px;padding:0;text-transform:uppercase;"><a href="{{ url('oktothek_show_series', {'uniqID': episode.series.uniqID}) }}" style="color:#ffffff;text-decoration:none;">{{ episode.series.name }}</a></h3>
                                    <p style="margin:0;padding:0;font-weight:normal;"><a href="{{ url('oktothek_show_episode', {'uniqID': episode.uniqID})}}" style="color:#ffffff;text-decoration:none;">{{ episode.name }}</a></p>
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                </table>
                <div style="margin-left:auto;margin-right:auto;max-width:600px;">
                    <p style="font-size: 20px;text-align: center;">{{ 'oktothek_user_welcome_features_header'|trans }}</p>
                </div>
                <table style="margin-left:auto;margin-right:auto;max-width:600px;margin-bottom:30px;" border="0">
                   <tr>
                       <td colspan="2"><h2 style="color:#fcce14; font-weight: normal; margin-bottom:0; padding-bottom:20px;text-align:center;">{{ 'oktothek_user_welcome_feature_discuss'|trans }}</h2></td>
                   </tr>
                   <tr>
                       <td style="width:80px;vertical-align:top;"><img src="{{ absolute_url(asset('bundles/app/images/welcome_mail/sprechblase.png'))}}" width="60" height="60" alt=""/></td>
                       <td>
                            <p style="margin-top:0;padding-top:0">{{ 'oktothek_user_welcome_feature_discuss_par'|trans }}</p>
                       </td>
                   </tr>
                </table>
                <table style="margin-left:auto;margin-right:auto;max-width:600px;margin-bottom:30px;" border="0">
                    <tr>
                       <td colspan="2"><h2 style="color:#fcce14; font-weight: normal; margin-bottom:0; padding-bottom:20px;text-align: center;clear:left;">{{ 'oktothek_user_welcome_feature_like_and_share'|trans }}</h2></td>
                   </tr>
                   <tr>
                       <td style="width:80px;vertical-align:top;"><img src="{{ absolute_url(asset('bundles/app/images/welcome_mail/like.png'))}}" width="60" height="60" alt=""/></td>
                       <td>
                            <p style="margin-top:0;padding-top:0">{{ 'oktothek_user_welcome_feature_like_and_share_par'|trans }}</p>
                        </td>
                   </tr>
                </table>
                <table style="margin-left:auto;margin-right:auto;max-width:600px;margin-bottom:80px;" border="0">
                    <tr>
                       <td colspan="2"><h2 style="color:#fcce14; font-weight: normal; margin-bottom:0; padding-bottom:20px;text-align: center;">{{ 'oktothek_user_welcome_feature_diy'|trans }}</h2></td>
                    </tr>
                    <tr>
                        <td style="width:80px;vertical-align:top;"><img src="{{ absolute_url(asset('bundles/app/images/welcome_mail/rakete.png'))}}" width="60" height="100" alt=""/></td>
                        <td>
                            <p style="margin-top:0;padding-top:0">{{ 'oktothek_user_welcome_feature_diy_par'|trans }}</p>
                            <p>{{ 'oktothek_user_welcome_feature_diy_par_2'|trans }}</p>
                        </td>
                    </tr>
               </table>
               <div style="margin-left:auto;margin-right:auto;max-width:600px;">
                    <p>{{ 'oktothek_user_welcome_support_mail'|trans({'%email%': '<a href="mailto:feedback@okto.tv" style="color:#fcce14;">feedback@okto.tv</a>'})|raw }}</p>
                    <p style="padding-top:30px;text-align:center;">
                        {{ 'oktothek_user_welcome_greetings'|trans|raw }}
                    </p>
                </div>
            </td>

        </td>
    </tr>
</table>

</body>
</html>
