{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'news', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "head-white-color" %}
{% block body %}
<div class="container">
    <div class="page-header">
        <a href="{{ path('oktothek_new_news') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span> {{ 'oktothek.create_new_post_button'|trans }}
        </a>
    </div>
    {% for post in posts %}
        <div class="panel panel-default">
            <div class="panel-body">
                {{ post.description|markdown() }}
            </div>
            <div class="panel-footer">
                {% if post.assets|length > 0 %}
                <span class="badge">{{ post.assets|length }}</span>
                {% endif %}
                <a href="{{ path('oktothek_show_news', {'slug': post.slug}) }}" class="pull-right">{{ 'oktothek.post_show_more'|trans }}</a>
                <div class="clearfix"></div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
