<li class="col-md-3 col-lg-3 col-sm-8 col-xs-12 pin" data-toggle="tooltip" title="{{ playlist.description }}">
    <a href="{{ path('oktothek_show_playlist', {'uniqID': playlist.uniqID}) }}" title="... ansehen">
        <figure class="playlist-pin pin">
            {% if playlist.items is not empty %}
                <img src="{{ playlist.items[0].episode.posterframe(true)|thumb(135,240) }}" class="img-responsive" />
            {% endif %}
            <figcaption>
                <h3>{{ playlist.name }}</h3>
                <p>
                    {% if playlist.user %}
                        <a href="{{ path('oktothek_show_user', {'username': playlist.user.username}) }}" title="{{ 'oktothek_playlist_thumb_creator_title'|trans({'%user%': playlist.user.username}) }}">
                            {{ 'oktothek_playlist_thumb_creator'|trans({'%user%': playlist.user.username}) }}
                        </a>
                    {% endif %}
                </p>
            </figcaption>
        </figure>
    </a>
</li>
