{% extends "BprsStyleBundle::layout.html.twig" %}

{% block title %}
    {{ name|default('OKTO')~' | '~'oktothek.playlist_show'|trans({'%playlist%': playlist.name}) }}
{% endblock %}
{% block nav_head %}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'oktothek', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "head-white-color" %}
{% block body_main %}
    <div class="page-header">
        <h1>{{ playlist.name }}</h1>
        {% if app.user == playlist.user %}
        <a href="{{ path('oktothek_edit_playlist', {'uniqID': playlist.uniqID}) }}" class="btn btn-default">Bearbeiten</a>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-9">
            <figure id="player"></figure>
            <p>{{ playlist.description }}</p>
            <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#collapseShareArea" aria-expanded="false" aria-controls="collapseShareArea" id="ButtonShare" data-uniqID="{{playlist.uniqID}}" title="{{ playlist.name }} teilen">Teilen</button>
            {% include 'AppBundle:Oktothek:snippetPlaylistShare.html.twig' %}
        </div>
        <div class="col-md-3">
            <div class="list-group">
                {% for playlistItem in playlist.items %}
                    <a href="{{ path('oktothek_show_episode', {'uniqID': playlistItem.episode.uniqID})}}" class="list-group-item playme" data-list="{{loop.index0}}">{{ playlistItem.episode.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ playlist(playlist)|raw }}
<script>
    $(document).ready(function(){
        $('.playme').click(function(e){
            e.preventDefault();
            jwplayer('player').playlistItem($(this).data('list'));
        })
    });
</script>
{% endblock %}
