{% extends "BprsStyleBundle::layout.html.twig" %}

{% block title %}
    {{ name|default('OKTO')~' | '~'oktothek.playlist_show'|trans({'%playlist%': playlist.name}) }}
{% endblock %}
{% block nav_head %}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'oktothek', 'dropdown': ''} %}
{% endblock %}


{% set body_class = "playlists head-white-color" %}
{% block body %}
<section class="container">
    <div class="page-header">
        <h1>{{ playlist.name }}</h1>
        {% if app.user == playlist.user %}
        <a href="{{ path('oktothek_edit_playlist', {'uniqID': playlist.uniqID}) }}" class="btn btn-default">Bearbeiten</a>
        {% endif %}
    </div>
    <div class="row">
        <div>
            <figure id="player"></figure>
            <p>{{ playlist.description }}</p>
            <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#collapseShareArea" aria-expanded="false" aria-controls="collapseShareArea" id="ButtonShare" data-uniqID="{{playlist.uniqID}}" title="{{ playlist.name }} teilen">Teilen</button>
            {% include 'AppBundle:Oktothek:snippetPlaylistShare.html.twig' %}
        </div>
        <!--<div class="col-md-3">
            <div class="list-group">
                {% for playlistItem in playlist.items %}
                    <a href="{{ path('oktothek_show_episode', {'uniqID': playlistItem.episode.uniqID})}}" class="list-group-item playme" data-list="{{loop.index0}}">{{ playlistItem.episode.name }}</a>
                {% endfor %}
            </div>
        </div>-->
    </div>
    <p>{{ playlist.description }}</p>
</section>
<section class="container">
    <ul class="list-group">
{% for playlistItem in playlist.items %}
        <li class="list-group-item">
<article title="{{ playlistItem.episode.description }}">
    <figure class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
	    <a href="{{ path('oktothek_show_episode', {'uniqID': playlistItem.episode.uniqID})}}" class="playme" data-list="{{loop.index0}}"><img src="{{ playlistItem.episode.posterframe|thumb(135,240) }}" class="img-responsive"/></a>
		</figure>
		<div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
        <!--<div class="pin-icon"><span class="glyphicon glyphicon-heart"></span> {{ playlistItem.episode.users|length }}</div>-->
		    <h3><a href="{{ path('oktothek_show_episode', {'uniqID': playlistItem.episode.uniqID})}}" class="playme" data-list="{{loop.index0}}">{{ playlistItem.episode.name }}</a></h3>
			<p><a href="{{ path('oktothek_show_episode', {'uniqID': playlistItem.episode.uniqID}) }}" title="... ansehen">{{ playlistItem.episode.name|default('oktothek_episode_thumb_default_title'|trans({'%date%': playlistItem.episode.onlineStart|date('d.m.Y')})) }}</a></p>
        </div>
</article>
        </li>
{% endfor %}
    </ul>
</section>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ playlist(playlist)|raw }}
<script>
    $(document).ready(function(){
        $('.playme').click(function(e){
            e.preventDefault();
            jwplayer('player').playlistItem($(this).data('list'));
        })
    });
</script>
{% endblock %}
