<section id="current_show">
    <header>
        <p class="current-episode">Derzeit auf Okto</p>
        <h1 class="name">
            {% if current[0].name is not empty %}
                {{'oktothek_tv_current_long'|trans({'%episode%': current[0].name, '%series%': current[0].series_name}) }}
            {% else %}
                {{'oktothek_tv_current_short'|trans({'%series%': current[0].series_name}) }}
            {% endif %}
        </h1>
        <time datetime="{{ current[0].airdate|date('Y-m-d H:i')}}">{{ 'oktothek_tv_current_time'|trans({'%time%': current[0].airdate|date('H:i')}) }}</time>
        <p class="description">{{ current[0].description }}</p>
    </header>
    <h2>Nächste Sendungen</h2>
    <div class="next-episode-schedule">
    {% for next in current|slice(1) %}
        <article class="row pin">
            <div class="panel-time">
                <span class="time">{{ next.airdate|date('H:i')}}</span>
            </div>
            <div class="panel-content">
                <h4 class="name">
                    {% if next.name is not empty %}
                        {{'oktothek_tv_current_long'|trans({'%episode%': next.name, '%series%': next.series_name}) }}
                        {% else %}
                        {{'oktothek_tv_current_short'|trans({'%series%': next.series_name}) }}
                    {% endif %}
                </h4>
                <p class="description">{{ next.description }}</p>
            </div>
        </article>
    {% endfor %}
    </div>
</section>
