<div class="container programm">
    <header class="page-header">
        <nav class="navbar navbar-default" id="nav-programm">
            <div class="row">
                <div class="nav navbar-nav">
                    {# dont show back buttons prior to 2018 #}
                    {% if date > "now"|date_modify('-12 weeks') %}
                    <a class="btn btn-default loadme" id="yesterday" href="{{ path('oktothek_tv_program_for_date', {'date': date|date_modify('-1 day')|date('d-m-Y')}) }}" nofollow>
                        <span class="glyphicon glyphicon-chevron-left icon"></span> <span class="hidden-xs">{{'oktothek_tv_weekdays_choice'|transchoice(date|date_modify('-1 day')|date('N'))}}</span>
                    </a>
                    {% endif %}
                </div>

                <div class="nav navbar-nav">
                    <h2 class="hidden-xs"><span class="time">
                        {{'oktothek_tv_weedays_format'|trans({'%day%': 'oktothek_tv_weekdays_choice'|transchoice(date|date('N')), '%date%': date|date('d.m')})}}</span>
                    </h2>
                    <h2 class="visible-xs-block">
                        <span class="time">{{'oktothek_tv_weedays_format'|trans({'%day%': 'oktothek_tv_weekdays_short_choice'|transchoice(date|date('N')), '%date%': date|date('d.m')})}}</span>
                    </h2>
                </div>
                <div class="nav navbar-nav">
                    {# dont show program further than +2 weeks #}
                    {% if date < "now"|date_modify('+2 weeks') %}
                        <a class="btn btn-default loadme" id="tomorrow" href="{{ url('oktothek_tv_program_for_date', {'date': date|date_modify('+1 day')|date('d-m-Y')}) }}" nofollow>
                            <span class="hidden-xs">{{'oktothek_tv_weekdays_choice'|transchoice(date|date_modify('+1 day')|date('N'))}}</span> <span class="glyphicon glyphicon-chevron-right icon"></span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    <section class="schedule">
        <ul class="panel-group" id="schedule-content-evening" role="tablist" aria-multiselectable="true">
            {% for show in shows %}
                <li class="panel panel-default row">
                    <div class="panel-heading" role="tab" id="item{{ loop.index0 }}">
                        <a role="button" data-toggle="collapse" data-parent="#schedule-content-evening" href="#collapse{{ loop.index0 }}" aria-expanded="true" aria-controls="collapse{{ loop.index0 }}">
                            <span class="time">{{ show.airdate|date('H:i') }}</span>
                            <h4>{% if show.name %}{{ show.series_name }} - {{ show.name }}{% else %}{{ show.series_name }}{% endif %}</h4>
                        </a>
                    </div>
                    <div id="collapse{{ loop.index0 }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="item4">
                        <div class="description">
                            {{ show.description }}
                            {% if show.repetitions is not empty %}
                                <h5>{{'oktothek_tv_program_repetition'|trans}}</h5>
                                <ul class="row repeats">
                                    {% for repetition in show.repetitions %}
                                        <li class="col-xs-6 col-sm-3 col-md-2 col-lg-1">
                                            {{
                                                'oktothek_tv_program_repetition_dateformat'|trans({
                                                    '%day%': 'oktothek_tv_program_repetition_date_choice'|transchoice(repetition|date('N')),
                                                    '%date%': repetition|date('oktothek_tv_program_repetition_date'|trans)
                                                })
                                            }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>
</div>
