{% extends "BprsStyleBundle::layout.html.twig" %}
{% block title %}{{ name|default('OKTO')~' | '~ 'oktothek_tv_title'|trans }}{% endblock %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'tv', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "livestream" %}
{% block body_main %}
    <div id="top"></div>
    <div id="player">
    </div>
    <section id="current_show">
        {% if current %}
            <header>
              <p class="current-episode">Derzeit auf Okto</p>
              <h1 class="name">{{ current[0].name|default(current[0].series_name)}}</h1>
              <time datetime="{{ current[0].airdate|date('Y-m-d H:i')}}">{{ current[0].airdate|date('D, d.m.Y H:i')}}</time>
              <p class="description">{{ current[0].description }}</p>
            </header>
            {% for next in current|slice(1) %}
            <header>
                <p class="next-episode">Im Anschluss</p>
                <h1 class="name">{{ next.name|default(next.series_name)}}</h1>
                <time datetime="{{ next.airdate|date('Y-m-d H:i')}}">{{ next.airdate|date('D, d.m.Y H:i')}}</time>
                <p class="description">{{ next.description }}</p>
            </header>
            {% endfor %}
        {% endif %}
    </section>

    {{ render(controller('AppBundle:TV:program')) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://content.jwplatform.com/libraries/qecJHTsP.js"></script>
    <script type="text/javascript">
        $(document).ready(function(event){
            setInterval("updateCurrent()", 10000);

            var playerInstance = jwplayer("player");
            playerInstance.setup({
                file: "http://d2jk87psbjrjdz.cloudfront.net/livehttporigin/okto/playlist.m3u8",
                image: "{{ asset('bundles/app/images/placeholder/Logo'~random(6)~'.png') }}"
            });
        });

        function updateCurrent() {
            $.ajax({
                url: "{{ url('oktothek_tv_current_show') }}",
                success: function(data) {
                    $('#current_show').replaceWith(data);
                }
            });
        }

        function updateProgram(url) {
            $.ajax({
                url: url,
                success: function(data) {
                    $('.programm').replaceWith(data);
                }
            });
        }

        $(document).on('click', '.loadme', function(e) {
            e.preventDefault();
            var url = $(this).attr('href');
            history.pushState({'url': url}, "");
            updateProgram(url);
        });

        window.onpopstate = function(event) {
            if (event.state) {
                updateProgram(event.state.url);
            } else {
                updateProgram("{{ url }}");
            }
        }
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/livestream.css') }}" rel="stylesheet" />
{% endblock %}
