{% extends "BprsStyleBundle::layout.html.twig" %}

{% block title %}{{ name|default('OKTO')~' | '~ 'oktothek_user_channels_title'|trans }}{% endblock %}
{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'channels', 'dropdown': 'user_menu'} %}
{% endblock %}

{% set body_class = "clip_overview" %}
{% block body_main %}
<header class="page-header">
    <h1>{{ 'oktothek.user_channels_header'|trans }}</h1>
</header>
<section>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="filter_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{ 'oktothek.user_channels_filter'|trans|raw }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="filter_menu">
                    <li {% if channels.isSorted('s.name') %}class="active"{% endif %}>{{ knp_pagination_sortable(channels, 'oktothek_user_channel_filter_name'|trans, 's.name') }}</li>
                    <li {% if channels.isSorted('s.updatedAt') %}class="active"{% endif %}>{{ knp_pagination_sortable(channels, 'oktothek_user_channel_filter_updatedAt'|trans, 's.updatedAt') }}</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 navigation">
            {{ knp_pagination_render(channels) }}
        </div>
    </div>
    <div class="row">
        {% include 'AppBundle:User:channelStack.html.twig' with {'channels': channels} %}
    </div>
    <div class="navigation row">
        {{ knp_pagination_render(channels) }}
    </div>
</section>
{% endblock %}
