{% extends "BprsStyleBundle::layout.html.twig" %}

{% block title %}{{ name|default('OKTO')~' | '~ 'oktothek_user_channels_title'|trans }}{% endblock %}
{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'channels', 'dropdown': 'user_menu'} %}
{% endblock %}

{% set body_class = "" %}
{% block body_main %}
<header class="page-header">
    <h1>{{ 'oktothek.user_update_subscription_header'|trans({'%series%': series}) }}</h1>
    <a href="{{ path('oktothek_user_channels', {'username': app.user.username})}}">{{ 'oktothek_user_channels_title'|trans }}</a>
</header>
<section>
{{ form_start(form) }}
{{ form_end(form)}}
</section>
{% endblock %}
