<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Willkommen im Oktoversum</title>
</head>

<body style="background-color:#000000;color:#ffffff;font-family:'Helvetica Neue','Helvetica',Arial,sans-serif;font-size:16px;padding-left:5%;padding-right:5%;line-height:24px;letter-spacing:0.6px;">
    <table style="background-image:url({{ absolute_url(asset('bundles/app/images/welcome_mail/space.jpg')) }})" border="0" width="100%">
       <tr>
           <td style="background-image: url({{ absolute_url(asset('bundles/app/images/welcome_mail/heinrich_im_emailall.png')) }});background-position: right top;background-repeat: no-repeat;" class="heinrich">
              <div style="max-width:600px;margin-left:auto;margin-right:auto;">
                    <p style=""><img src="{{ absolute_url(asset('bundles/app/images/welcome_mail/logo_okto_tv.gif')) }}" width="40" height="66" alt="OKTO Community TV GmbH"/></p>
                    <h1 style="font-size: 32px;font-weight:normal;padding-top:60px;padding-bottom:30px;line-height:36px;text-align:center;">Willkommen im Oktoversum,</h1>
                    <p style="padding-bottom:30px;font-size:20px;font-weight:300;line-height: 27px;">
    Um deine Reise in die intergalaktische Welt der Okto-Community starten zu k&ouml;nnen, musst du nur noch ein Passwort festlegen.
</p>
               </div>
           </td>
       </tr>
    </table>
    <table border="0" width="100%">
        <tr> 
            <td>
                <div style="background-color:#333333;padding:20px;font-weight:300;margin-left:auto;margin-right:auto;max-width:600px;">
                    <p style="margin:0;padding:0;">
        Klicke hierf&uuml;r auf den folgenden Link:<br><a href="{{ url('bprs_user_iforgot_reset', { 'resetHash': user.resetHash }) }}" style="color:#fcce14;text-decoration:none;word-wrap:break-word;">{{   url('bprs_user_iforgot_reset', { 'resetHash': user.resetHash }) }}</a>
</p>
                    <p style="margin-bottom:0;padding:0;">
        Bei Fragen oder Problem schreibe uns einfach eine E-Mail an <a href="mailto:support@okto.tv" style="color:#fcce14;text-decoration:none;word-wrap:break-word;">support@okto.tv</a>
</p>
                </div>
                <div style="font-weight:300;margin-left:auto;margin-right:auto;max-width:800px;">
                    <p style="padding-top:30px;text-align:center;">
        Freundliche Gr&uuml;&szlig;e,<br>    
        dein OKTO Team
    </p>
                    <p style="text-align:center;">
                        OKTO Community TV GmbH<br>
                        <a href="http://www.okto.tv" style="color:#fcce14;text-decoration:none;word-wrap:break-word;">www.okto.tv</a>
                    </p>
                </div> 
            </td>
        </tr>
    </table>  
</body>
</html>
