{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'producer', 'dropdown': 'user_menu'} %}
{% endblock %}
{% set body_class = "producer" %}
{% block body_main %}

{% include 'AppBundle::Producer/producerHeader.html.twig' with {'active': 'producer_blog', 'series': series} %}
<section>
<p>{{ 'oktothek.series_producer_blog_text'|trans }}</p>


<div class="navigation">
    {{ knp_pagination_render(posts) }}
</div>
<div class="list-group">
    {% for post in posts %}
        {% include 'AppBundle::News/post.html.twig' with {'post': post, 'newsloop': loop.index } %}
    {% endfor %}
</div>
<div class="navigation">
    {{ knp_pagination_render(posts) }}
</div>
<a href="{{ path('oktothek_series_blog_post', {'uniqID': series.uniqID}) }}" class="btn btn-default">{{'oktothek.series_producer_new_blogpost'|trans|raw }}</a>
</section>
{% endblock %}
