{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'producer', 'dropdown': 'user_menu'} %}
{% endblock %}

{% block body_main %}

{% include 'AppBundle::Producer/producerHeader.html.twig' with {'active': 'producer_episodes', 'series': series} %}
<p>{{ 'oktothek.series_producer_episode_text'|trans }}</p>


<div class="navigation">
    {{ knp_pagination_render(episodes) }}
</div>
<div class="list-group">
    {% for episode in episodes %}
    <a href="{{ path('oktothek_channel_episode', {'uniqID': episode.uniqID})}}" class="list-group-item">
        <div class="row">
            <div class="col-md-3">
                <img class="img img-responsive" src="{{ episode.posterframe(true)|thumb(135,240)}}" />
            </div>
            <div class="col-md-9">
                <h4 class="list-group-item-heading">{{ episode.name }}</h4>
                <p class="list-group-item-text">{{ episode.description }}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
<div class="navigation">
    {{ knp_pagination_render(episodes) }}
</div>

{% endblock %}
