{% extends "BprsStyleBundle::layout.html.twig" %}

{% block title %}{{ 'oktothek_producer_playlists_title'|trans({'%series%': series.name})}}{% endblock %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'producer', 'dropdown': 'user_menu'} %}
{% endblock %}
{% set body_class = "producer" %}
{% block body_main %}

{% include 'AppBundle::Producer/producerHeader.html.twig' with {'active': 'producer_playlists', 'series': series} %}
<section class="tabs-content">
<p class="subheadline">{{ 'oktothek.series_producer_playlists_text'|trans }}</p>
<div class="navigation">
    {{ knp_pagination_render(playlists) }}
</div>
<div class="row">
    {% for playlist in playlists %}
        {% include 'AppBundle::Playlist/_thumb.html.twig' %}
    {% endfor %}
</div>
<div class="navigation">
    {{ knp_pagination_render(playlists) }}
</div>
<a href="{{ path('oktothek_channel_playlist_new', {'uniqID': series.uniqID})}}" class="btn btn-default">{{'oktothek.series_producer_new_playlist'|trans|raw }}</a>
</section>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/producer.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/css/playlists.css') }}" rel="stylesheet" />
{% endblock %}
