<header class="page-header">
    <h1>{{ series.name }}</h1>
    <p class="misc">
        <a href="{{ path('oktothek_channel_playlist_new', {'uniqID': series.uniqID})}}" class="btn btn-default">{{'oktothek.series_producer_new_playlist'|trans|raw }}</a>
        <a href="{{ path('oktothek_series_blog_post', {'uniqID': series.uniqID}) }}" class="btn btn-default">{{'oktothek.series_producer_new_blogpost'|trans|raw }}</a>
    </p>
</header>
<ul class="nav nav-tabs nav-justified">
  <li role="presentation" {% if active == "producer_info" %} class="active"{% endif %}>
      <a href="{{ path('oktothek_channel', {'uniqID': series.uniqID}) }}">Allgemein</a>
  </li>
  <li role="presentation"{% if active == "producer_blog" %} class="active"{% endif %}>
      <a href="{{ path('oktothek_channel_blogposts', {'uniqID': series.uniqID}) }}">Blog</a>
  </li>
  <li role="presentation"{% if active == "producer_playlists" %} class="active"{% endif %}>
      <a href="{{ path('oktothek_channel_playlists', {'uniqID': series.uniqID}) }}">Playlisten</a></li>
  <li role="presentation"{% if active == "producer_episodes" %} class="active"{% endif %}>
      <a href="{{ path('oktothek_channel_episodes', {'uniqID': series.uniqID}) }}">Folgen</a>
  </li>
  <li role="presentation"{% if active == "producer_live" %} class="active"{% endif %}>
      <a href="{{ path('oktothek_channel_now_live', {'uniqID': series.uniqID}) }}">Live</a>
  </li>
</ul>
