<header class="page-header">
    <h1>{{ series.name }}</h1>
    <p class="misc">
        <a href="{{ path('oktothek_channel_playlist_new', {'uniqID': series.uniqID})}}" class="btn btn-default">{{'oktothek.series_producer_new_playlist'|trans|raw }}</a>
        <a href="{{ path('oktothek_series_blog_post', {'uniqID': series.uniqID}) }}" class="btn btn-default">{{'oktothek.series_producer_new_blogpost'|trans|raw }}</a>
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('oktolab_series_show', {'series': series.uniqID}) }}" class="btn btn-default">{{ 'oktothek.series_show_in_backend'|trans }}</a>
        {% endif %}
    </p>
</header>
<ul class="nav nav-tabs nav-justified">
  <li role="presentation" {% if active == "producer_info" %} class="active"{% endif %}>
      <a href="{{ path('oktothek_channel', {'uniqID': series.uniqID}) }}">{{ 'oktothek_producer_header_general'|trans }}</a>
  </li>
  <li role="presentation"{% if active == "producer_blog" %} class="active"{% endif %}>
      <a href="{{ path('oktothek_channel_blogposts', {'uniqID': series.uniqID}) }}">{{ 'oktothek_producer_header_blog'|trans }}</a>
  </li>
  <li role="presentation"{% if active == "producer_playlists" %} class="active"{% endif %}>
      <a href="{{ path('oktothek_channel_playlists', {'uniqID': series.uniqID}) }}">{{ 'oktothek_producer_header_playlist'|trans }}</a></li>
  <li role="presentation"{% if active == "producer_episodes" %} class="active"{% endif %}>
      <a href="{{ path('oktothek_channel_episodes', {'uniqID': series.uniqID}) }}">{{ 'oktothek_producer_header_episode'|trans }}</a>
  </li>
  <li role="presentation"{% if active == "producer_live" %} class="active"{% endif %}>
      <a href="{{ path('oktothek_channel_now_live', {'uniqID': series.uniqID}) }}">{{ 'oktothek_producer_header_live'|trans }}</a>
  </li>
</ul>
