{% if show_button is defined %}
<p class="misc">
    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#{{ data_target|default('collapseShare')}}" aria-expanded="false" aria-controls="collapseShare" id="ButtonShare" data-uniqID="#" title="{{ 'oktothek_share_header'|trans }}"><span class="share-btn-text">{{ 'oktothek_share_header'|trans }}</span><span class="visible-xs-inline glyphicon glyphicon-share-alt"></span></button>
</p>
{% endif %}
    <!-- Start Collapse Share-->
    <div class="collapse collapseShare collapseWindow" id="{{ data_target|default('collapseShare')}}">
        <div class="collapse-header">
            <div class="triangle"></div>
        </div>
        <div class="collapse-content">
            <h3>{{ 'oktothek_share_header'|trans }}</h3>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="div_share_sn">
                    <div>
                    <ul class="socialnetworks">
                        <li><a href="https://www.facebook.com/sharer.php?u={{ site_url|default(app.request.uri)|url_encode }}" class="icon-facebook" target="_blank"><span>{{ 'oktothek_share_fb'|trans }}</span></a></li>
                        <li><a href="https://twitter.com/intent/tweet?url={{ site_url|default(app.request.uri)|url_encode }}" class="icon-twitter" target="_blank"><span>{{ 'oktothek_share_tw'|trans }}</span></a></li>
                        <li><a href="https://plus.google.com/share?url={{ site_url|default(app.request.uri)|url_encode }}" class="icon-googleplus" target="_blank"><span>{{ 'oktothek_share_gp'|trans }}</span></a></li>
                        {% if site_media is defined %}
                            <li><a href="http://pinterest.com/pin/create/link/?url={{ site_url|default(app.request.uri)|url_encode }}&media="{{ site_media }} class="icon-pinterest" target="_blank" title="Okto auf Pinterest"><span>{{'oktothek_share_pint'|trans}}</span></a></li>
                        {% endif %}
                    </ul>
                    <a href="mailto:?body={{ site_url|default(app.request.uri) }}" type="button" class="btn btn-default" data-toggle="tab" id="share_email">{{ 'oktothek_share_email'|trans }}</a>
                </div>
                {% if site_embed is defined %}
                    <div class="row">
                        <form class="col-lg-7 col-md-7 col-sm-12 col-xs-12"><input type="text" value='<iframe width="420" height="315" src="{{ site_embed }}" frameborder="0" allowfullscreen></iframe>' class="form-control" id="embedurl"></form>
                        <div class="helptext">{{ 'oktothek_share_helptext'|trans }}</div>
                    </div>
                {% endif %}
            </div>
            </div>
        </div>
    </div>
    <!-- End Collapse Share-->
