<h2>Kommentare <span class="comments-counter">1</span></h2>
<!-- Kommentar -->
<article class="row">
<!--<div class="avatar col-md-1"><img src="/images/default_avatar.png" class="img-responsive" width=50 height=50/></div>-->
{% for comment in comments %}
<div class="col-md-11">
    <div class="author">{{ 'oktothek.comment_author'|trans({'name': comment.user.username, 'date': comment.createdAt|date('d.m.Y H:i')})|raw }}</div>
    <div class="comment-text">
        <p>{{ comment.text }}</p>
    </div>
    <!-- Antwort Container -->
    <div class="comment-answer">
        <a class="answer" role="button" data-toggle="collapse" href="#answer_comment_{{ loop.index }}" aria-expanded="false" aria-controls="answer_comment_1">Antworten</a>
        <div class="answer-text collapse" id="answer_comment_{{ loop.index }}">
            <div class="row comment-form">
                <!--<div class="avatar col-md-1"><img src="/images/default_avatar.png" class="img-responsive" width=50 height=50/></div>-->
                <div class="col-md-11">
                    {{ render(controller('AppBundle:Comment:answerComment', {'comment': comment.Id}))}}
                    <form action="#" id="form_answer_comment_{{ loop.index }}" method="POST">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Schreibe eine Antwort...">
                            <span class="input-group-btn"><button class="btn btn-default" type="button">Senden</button></span>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Antwort -->
            {% for answer in comment.children %}
                <div class="row">
                    <!--<div class="avatar col-md-1"><img src="/images/default_avatar.png" class="img-responsive" width=50 height=50/></div>-->
                    <div class="col-md-11">
                        <div class="author">{{ 'oktothek.comment_author'|trans({'name': answer.user.username, 'date': answer.createdAt|date('d.m.Y H:i')})|raw }}</div>
                        <div class="comment-text">
                            <p>{{ answer.text }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!-- Ende Antwort -->
        </div>
        <!-- Ende Antwort Container -->
    </div>
</div>
{% endfor %}
</article>
<div class="row">
    <a href="#" class="pull-right more" title="&Auml;ltere Kommentare anzeigen">&Auml;ltere Kommentare anzeigen <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<!-- Ende Kommentar -->
<div class="row comment-form">
    <!--<div class="avatar col-md-1"><img src="/images/default_avatar.png" class="img-responsive" width=50 height=50/></div>-->
    <div class="col-md-11">
        {{ render(controller('AppBundle:Comment:commentEpisode', {'uniqID': episode.uniqID}))}}
        <form action="#" id="comments" method="POST">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Schreibe ein Kommentar...">
                <span class="input-group-btn"><button class="btn btn-default" type="button">Senden</button></span>
            </div>
        </form>
    </div>
</div>
</div>
</section>
<!-- Ende Kommentare -->
