{% set collapse_id = collapse_id|default('collapse_rand_'~ random()) %}

<ul class="row">
    {% for episode in episodes|slice(0,4) %}
        {% if episode.isActive %}
            {% include "AppBundle:Episode:EpisodeThumb.html.twig" %}
        {% endif %}
    {% endfor %}
</ul>
{% if episodes|length > 4 %}
    <ul class="row collapse" id="{{ collapse_id }}">
       {% for episode in episodes|slice(4,3) %}
            {% if episode.isActive %}
                {% include "AppBundle:Episode:EpisodeThumb.html.twig" %}
            {% endif %}
        {% endfor %}
        {% if episodes|length > 7 %} {# there are more results. show link to paginator #}
            <li class="col-md-3 col-lg-3 col-sm-6 col-xs-12 pin more">
                <figure class="episode-pin pin">
                    <a href="{{ pager_url|default('#') }}" title="{{ 'oktothek_episodeStack_more_results_title'|trans }}">{{ pager_link_text|default('oktothek_more_results')|trans|raw }}</a>
                </figure>
            </li>
        {% endif %}
    </ul>
    <a href="{{ collapse_link|default('#'~collapse_id) }}" data-collapseid="#{{collapse_id}}" class="pull-right more hidden-xs" data-lesstrans="{{collapse_link_text_less|default('oktothek.newest_videos_show_less'|trans)|raw }}" data-moretrans="{{ collapse_link_text|default('oktothek.newest_videos_show_more'|trans)|raw }}" title="{{ collapse_title|default('oktothek.episode_stack_collapse_title'|trans) }}" data-toggle="collapse" aria-expanded="false" aria-controls="{{collapse_id}}">
        {{ collapse_link_text|default('oktothek.newest_videos_show_more'|trans)|raw}}
    </a>
    <a href="{{ collapse_link|default('#'~collapse_id) }}" data-collapseid="#{{collapse_id}}" class="more right visible-xs-block" data-lesstrans="<span class='icon'>-</span>" data-moretrans="<span class='icon'>+</span>" title="{{ collapse_title|default('oktothek.episode_stack_collapse_title'|trans) }}" data-toggle="collapse" aria-expanded="false" aria-controls="{{collapse_id}}"><span class="icon">+</span></a>
{% endif %}
