<article class="col-md-3 col-lg-3 col-sm-6 col-xs-6 pin" title="{{ episode.description }}">
    <a href="{{ path('oktothek_show_episode', {'uniqID': episode.uniqID}) }}" title="... ansehen">
        <figure class="episode-pin pin">
            <img src="{{ episode.posterframe|thumb(135,240) }}" class="img-responsive"/>
			<div class="like-it"><span class="glyphicon glyphicon-heart"></span> {{ episode.users|length }}</div>
			<figcaption>
                <h3>{{ episode.series.name|default('') }}</h3>
                <p>{{ episode.name }}</p>
			</figcaption>
        </figure>
    </a>
</article>
