{% set collapse_id = collapse_id|default('collapse_rand_'~ random()) %}

<div class="row">
    {% for episode in episodes|slice(0,4) %}
        {% if episode.isActive %}
            {% include "AppBundle:Default:EpisodeThumb.html.twig" %}
        {% endif %}
    {% endfor %}
</div>
{% if episodes|length > 4 %}
    <div class="row collapse" id="{{ collapse_id }}">
       {% for episode in episodes|slice(4,3) %}
            {% if episode.isActive %}
                {% include "AppBundle:Default:EpisodeThumb.html.twig" %}
            {% endif %}
        {% endfor %}
        {% if episodes|length > 7 %} {# there are more results. show link to paginator #}
            <article class="col-md-3 col-lg-3 col-sm-6 col-xs-6 pin more">
                <figure class="episode-pin pin">
            <a href="{{ pager_url|default('#') }}">{{ pager_link_text|default('oktothek_more_results')|trans|raw }}</a>
                </figure>
            </article>
        {% endif %}
    </div>
    <a href="{{ collapse_link|default('#'~collapse_id) }}" data-collapseid="#{{collapse_id}}" class="pull-right more" title="{{ collapse_title|default('oktothek.episode_stack_collapse_title') }}" data-toggle="collapse" aria-expanded="false" aria-controls="{{collapse_id}}">
        {{ collapse_link_text|default('oktothek.newest_videos_show_more'|trans)|raw}}
    </a>
{% endif %}
