<!-- Start Top Button -->
<div class="container">
    <button class="btn btn-default btn-top">Nach oben <span class="icon icon-top"></span></button>
</div>
<!-- End Top Button -->
<footer class="footer">
    <section class="networks">
	    <div class="container row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h3 class="sr-only">Folge uns auf:</h3>
                <ul class="socialnetworks">
                    <li><a href="https://www.facebook.com/okto.tv" class="icon-facebook" target="_blank" title="Okto auf Facebook"><span>Facebook</span></a></li>
                    <li><a href="https://twitter.com/oktotv" class="icon-twitter" target="_blank" title="Okto auf Twitter"><span>Twitter</span></a></li>
                    <li><a href="https://www.instagram.com/oktotv/" class="icon-instagramm" target="_blank" title="Okto auf Instagramm"><span>Instagramm</span></a></li>
                    <li><a href="https://www.youtube.com/user/oktotv" class="icon-youtube" target="_blank" title="Okto auf YouTube"><span>YouTube</span></a></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h3>{{ 'oktothek.newsletter_header'|trans }}</h3>
                {{ render(controller('AppBundle:Newsletter:subscribe', {'newsletter': oktothek_default_newsletter }))}}
            </div>
        </div>
    </section>
	<div class="container row">
		<nav class="col-md-12 col-sm-12 col-xs-12">
            {{ render(controller('AppBundle:Page:footer', {'slug': page.slug|default(app.request.get('_route'))})) }}
        </nav>
        <section class="partner col-md-12 col-sm-12 col-xs-12">
            <h3 class="sr-only">Partner</h3>
            <ul>
                <li>
                    <object data="{{ asset('bundles/app/images/partner/partner_herold.svg')}}" type="text/svg+xml" width="155" height="30">
                        <img src="{{ asset('bundles/app/images/partner/partner_herold.png')}}" width="155" height="30" alt="Herold.at">
                    </object>
                </li>
                <li>
                    <object data="{{ asset('bundles/app/images/partner/partner_rtr.svg')}}" type="text/svg+xml" width="63" height="85">
                        <img src="{{ asset('bundles/app/images/partner/partner_rtr.png')}}" width="63" height="85" alt="RTR">
                    </object>
                </li>
                <li>
                    <object data="{{ asset('bundles/app/images/partner/partner_wien.svg')}}" type="text/svg+xml" width="63" height="85">
                        <img src="{{ asset('bundles/app/images/partner/partner_wien.png')}}" width="63" height="85" alt="Stadt Wien">
                    </object>
                </li>
            </ul>
        </section>
    </div>
</footer>
