<!-- Start Top Button -->
<div class="container">
    <button class="btn btn-default btn-top">{{ 'oktothek_default_footer_back_to_top'|trans|raw }}</button>
</div>
<!-- End Top Button -->
<footer class="footer" itemscope="itemscope">
    <section class="networks">
        <div class="container row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h3 class="sr-only">{{ 'oktothek_default_sr_header'|trans }}</h3>
                <ul class="socialnetworks" role="menu">
                    <li><a href="https://www.facebook.com/okto.tv" class="icon-facebook" target="_blank" title="{{ 'oktothek_default_footer_fb_title'|trans }}"><span>{{ 'oktothek_default_footer_fb'|trans }}</span></a></li>
                    <li><a href="https://twitter.com/oktotv" class="icon-twitter" target="_blank" title="{{ 'oktothek_default_footer_tw_title'|trans }}"><span>{{ 'oktothek_default_footer_tw'|trans }}</span></a></li>
                    <li><a href="https://www.instagram.com/oktotv/" class="icon-instagramm" target="_blank" title="{{ 'oktothek_default_footer_insta_title'|trans }}"><span>{{ 'oktothek_default_footer_insta'|trans }}</span></a></li>
                    <li><a href="https://www.youtube.com/user/oktotv" class="icon-youtube" target="_blank" title="{{ 'oktothek_default_footer_yt_title'|trans }}"><span>{{ 'oktothek_default_footer_yt'|trans }}</span></a></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="{{ path('oktothek_newsletter') }}" class="btn btn-default">{{ 'oktothek.newletter_footer_link_button'|trans }}</a>
            </div>
        </div>
    </section>
    <div class="container row">
        <nav class="col-md-12 col-sm-12 col-xs-12">
            {{ render(controller('AppBundle:Page:footer', {'slug': page.slug|default(app.request.get('_route'))})) }}
        </nav>
        <section class="partner col-md-12 col-sm-12 col-xs-12">
            <h3 class="sr-only">{{ 'oktothek_default_footer_partner'|trans }}</h3>
            <ul>
                <li>
                    <object data="{{ asset('bundles/app/images/partner/partner_rtr.svg')}}" type="text/svg+xml" width="63" height="85">
                        <img src="{{ asset('bundles/app/images/partner/partner_rtr.png')}}" width="63" height="85" alt="RTR">
                    </object>
                </li>
                <li>
                    <object data="{{ asset('bundles/app/images/partner/partner_wien.svg')}}" type="text/svg+xml" width="63" height="85">
                        <img src="{{ asset('bundles/app/images/partner/partner_wien.png')}}" width="63" height="85" alt="Stadt Wien">
                    </object>
                </li>
            </ul>
        </section>
    </div>
</footer>
