<h3><a href="https://de.wikipedia.org/wiki/Markdown" target="_blank">Markdown</a></h3>
{{ 'markdown_markup_head'|trans|raw }}
{{ 'markdown_markup_info'|trans|markdown}}

{{ 'markdown_linebreak_head'|trans|raw }}
{{'markdown_linebreak_info'|trans|markdown }}

{{ 'markdown_list_head'|trans|raw }}
{{ 'markdown_list_info'|trans|markdown }}

{{ 'markdown_ordered_list_head'|trans|raw }}
{{ 'markdown_ordered_list_info'|trans|markdown }}

{{ 'markdown_headline_head'|trans|raw }}
{{ 'markdown_headline_info'|trans|markdown }}

{{ 'markdown_blockquote_head'|trans|raw }}
{{ 'markdown_blockquote_info'|trans|markdown }}

{{ 'markdown_hyperlink_head'|trans|raw }}
{{ 'markdown_hyperlink_info'|trans|markdown }}

{{ 'markdown_images_head'|trans|raw }}
{{ 'markdown_images_info'|trans|markdown }}
