{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'oktothek', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "fullscreen-images oktothek head-white-color head-transparent-bg" %}
{% block body %}

    {# top slider, search and channels #}
	<div id="top"></div>
    <div id="slider">
        {% include 'AppBundle:Default:slider.html.twig' with {'slides': episodes } %}
    </div>
    {# top slider, search and channels END #}
    {# rest of the page #}
    <div class="container" id="oktothek">
		<section class="participart">
		    <div id="anchor_participart"></div>
		    <h2 id="button_down">Mitmachen <span class="glyphicon glyphicon-chevron-down"> </span></h2>
		    <article class="dummybox">
		        <p class="aligncenter">Ich bin ein großer Bereich für Mitmachen, weiß aber noch nicht was hier stehen soll.</p>
		        <p class="aligncenter"><a href="#" class="btn btn-default" title="Mitmachen">MITMACHEN</a></p>
		    </article>
		</section>
        {# render newest episodes #}
        <section class="newest-videos">
		    <div id="anchor_newest_videos"></div>
            <h2>{{ 'oktothek.newest_videos'|trans }}</h2>
            {% include 'AppBundle:Default:EpisodeStack.html.twig' with {'episodes': newest_episodes} %}
            <a href="#" class="pull-right more" title="Weitere neueste Videos anzeigen">{{ 'oktothek.newest_videos_show_more'|trans}} <span class="glyphicon glyphicon-chevron-right"></span></a>
        </section>

        {# render favorites #}
		<section class="favorite-videos">
		    <div id="anchor_favorite_videos"></div>
            <h2>Beliebteste Videos</h2>
            {% include 'AppBundle:Default:EpisodeStack.html.twig' with {'episodes': newest_episodes} %}
            <a href="#" class="pull-right more" title="Weitere beliebteste Videos anzeigen">Mehr Videos anzeigen <span class="glyphicon glyphicon-chevron-right"></span></a>
        </section>

        {# render newest playlists #}
        <section class="newest-playlists">
		    <div id="anchor_playlists"></div>
            <h2>{{ 'oktothek.newest_playlists'|trans }}</h2>
			<p class="aligncenter">Melde Dich an um eine neue Playlist zu erstellen!</p>
			<p class="aligncenter"><a href="#" class="btn btn-default">ANMELDEN</a></p>
            {% include 'AppBundle:Default/Playlist:PlaylistStack.html.twig' with {'playlists': newest_playlists} %}
            <a href="#" class="pull-right more" title="Weitere Playsliten anzeigen">{{ 'oktothek.newest_playlists_show_more'|trans}} <span class="glyphicon glyphicon-chevron-right"></span></a>
        </section>
        {# render news pins #}
        {{ render(controller('AppBundle:News:pinnedNews')) }}
    </div>
	<!-- Start Anchor Menu -->
    <div class="panel-group" id="anchor-menu" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="discoverMore">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#AnchorList" aria-expanded="true" aria-controls"collapseEins">
                        Mehr entdecken<span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                </h4>
            </div>
            <div id="AnchorList" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="discoverMore">
                <ul class="list-group" aria-labelledby="AnkerMenu">
		            <li class="list-group-item"><a href="#top">Top</a></li>
                    <li class="list-group-item"><a href="#anchor_participart">Mitmachen</a></li>
                    <li class="list-group-item"><a href="#anchor_newest_videos">{{ 'oktothek.newest_videos'|trans }}</a></li>
                    <li class="list-group-item"><a href="#anchor_favorite_videos">Beliebteste Videos</a></li>
                    <li class="list-group-item"><a href="#anchor_playlists">{{ 'oktothek.newest_playlists'|trans }}</a></li>
		            <li class="list-group-item"><a href="#anchor_news">News</a></li>
                </ul>
            </div>
        </div>
    </div>
	<!-- End Anchor Menu -->
    {# rest of the page END #}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
