{% extends "BprsStyleBundle::layout.html.twig" %}
{% block title %}{{ name|default('OKTO')~' | '~ 'oktothek_participate_title'|trans }}{% endblock %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'participate', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "participate" %}
{% block body %}
<div class="container planet_container">
    <div id="top"></div>
    <section id="univers">
        <!--<header><h1>Oktoversum</h1></header>-->
        <div id="planets">
            <!-- 1 -->
            <div class="cloud9-item color1 clearfix">
                <figure>
                <img src="{{ asset('bundles/app/images/heinrich.svg')}}" width="300" height="200" alt="PraktikantInnen"/>
                <figcaption>
                    <div class="title-container"><a href="#">PraktikantInnen</a></div>
                </figcaption>
                </figure>
                {#<nav class="subnav-item1 nav sub-left">
                    <ul>
                        <li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>#}
                        {#<li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>#}
                        {#<li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>
                    </ul>
                 </nav>#}
                 <nav class="subnav-item1 nav sub-right">
                    <button type="button" class="close visible-xs-block visible-sm-block" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>
                    <ul>
                        <li><div class="dot"><hr></div><a href="https://flux2.okto.tv/de/oktothek/series/5819f4e14361a"><span class="icon"></span>PraktikantInnenblog</a></li>
                        <li><div class="dot"><hr></div><a href="mailto:promo@okto.tv"><span class="icon glyphicon glyphicon-camera"></span>Bewirb dich per mail!</a></li>
                        {#<li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>#}
                    </ul>
                 </nav>
            </div>
            <!-- 2 -->
            <div class="cloud9-item color2 clearfix">
                <figure>
                <img src="{{ asset('bundles/app/images/planet1.svg')}}" width="250" height="250" alt="Perspektivenwechsel"/>
                <figcaption>
                    <div class="title-container"><a href="#">Perspektivenwechsel</a></div>
                </figcaption>
                </figure>
                {#<nav class="subnav-item2 nav sub-left">
                    <ul>
                        <li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>
                        <li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>
                        <li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>
                    </ul>
                </nav>#}
                <nav class="subnav-item2 nav sub-right">
                    <button type="button" class="close visible-xs-block visible-sm-block" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>
                    <ul>
                        <li><div class="dot"><hr></div><a href="https://youtu.be/ghKqtslorX8?list=PLvqnJeIyZZwNudPq5E3abGR4wCtDu1iKw" target="_blank"><span class="icon glyphicon glyphicon-plane"></span>Erlebe Wien in 360°</a></li>
                        {#<li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>#}
                        {#<li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>#}
                    </ul>
                </nav>
            </div>
            <!-- 3 -->
            <div class="cloud9-item color5 clearfix">
                <figure>
                <img src="{{ asset('bundles/app/images/satelit.svg')}}" width="250" height="250" alt="Kontakt"/>
                <a href="#" class="click_figure visible-xs-block visible-sm-block"></a>
                <figcaption>
                    <div class="title-container"><a href="#">Kontakt</a></div>
                </figcaption>
                </figure>
                {#<nav class="subnav-item3 nav sub-left">
                    <ul>
                        <li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>
                        <li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>
                        <li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>
                    </ul>
                </nav>#}
                <nav class="subnav-item3 nav sub-right">
                    <button type="button" class="close visible-xs-block visible-sm-block" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>
                    <ul>
                        <li><div class="dot"><hr></div><a href="mailto:support@okto.tv"><span class="icon"></span>Kontakt</a></li>
                        <li><div class="dot"><hr></div><a href="mailto:feedback@okto.tv"><span class="icon"></span>Feedback</a></li>
                        {#<li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>#}
                    </ul>
                </nav>
            </div>
            <!-- 4 -->
            <div class="cloud9-item color3 clearfix">
                <figure>
                <img src="{{ asset('bundles/app/images/planet2.svg')}}" width="250" height="250" alt="Akademie"/>
                <a href="#" class="click_figure visible-xs-block visible-sm-block"></a>
                <figcaption>
                    <div class="title-container"><a href="#">Workshops</a></div>
                </figcaption>
                </figure>
                <nav class="subnav-item4 nav sub-left">
                    <button type="button" class="close visible-xs-block visible-sm-block" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>
                    <ul>
                        <li><div class="dot"><hr></div><a href="https://flux2.okto.tv/de/academy/">Jetzt Kurse buchen<span class="icon glyphicon glyphicon-education"></span></a></li>
                        <li><div class="dot"><hr></div><a href="https://flux2.okto.tv/de/academy/5">Komm zum Infoabend!<span class="icon"></span></a></li>
                        {#<li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>#}
                    </ul>
                </nav>
                <nav class="subnav-item4 nav sub-right">
                    <ul>
                        <li><div class="dot"><hr></div><a href="#"><span class="icon glyphicon glyphicon-film"></span>Showreel unserer Kurse</a></li>
                        {#<li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>#}
                        {#<li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>#}
                    </ul>
                </nav>
            </div>
            <!-- 5 -->
            <div class="cloud9-item color4 clearfix">
                <figure>
                <img src="{{ asset('bundles/app/images/planet3.svg')}}" width="250" height="250" alt="ProduzentInnen"/>
               <a href="#" class="click_figure visible-xs-block visible-sm-block"></a>
                <figcaption>
                    <div class="title-container"><a href="#">ProduzentInnen</a></div>
                </figcaption>
                </figure>
                <nav class="subnav-item5 nav sub-left">
                    <button type="button" class="close visible-xs-block visible-sm-block" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>
                    <ul>
                        <li><div class="dot"><hr></div><a href="http://intake.okto.tv" target="_blank">Jetzt Sendung abgeben!<span class="icon"></span></a></li>
                        <li><div class="dot"><hr></div><a href="https://www.facebook.com/groups/559405997508690/?fref=ts" target="_blank">Das schwarze Brett<span class="icon"></span></a></li>
                        {#<li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>#}
                    </ul>
                </nav>
                <nav class="subnav-item5 nav sub-right">
                    <ul>
                        <li><div class="dot"><hr></div><a href="https://flux2.okto.tv/de/oktothek/episode/581a3a0983644"><span class="icon"></span>{{ 'oktothek.participate_5_steps'|trans }}</a></li>
                        {#<li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>#}
                        {#<li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>#}
                    </ul>
                </nav>
            </div>
        </div>
    </section>
</div>
<video autoplay loop id="participate_video" poster="{{ asset('bundles/app/images/sternenhimmel.jpg') }}">
        <source src="{{ asset('bundles/app/videos/sternenhimmel.mp4') }}" type="video/mp4">
        <!--<source src="{{ asset('bundles/app/videos/sternenhimmel.ogg') }}" type="video/ogg">-->
    </video>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/jquery.cloud9carousel.js') }}"></script>
    <script src="{{ asset('bundles/app/js/javascript_participate.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/participate.css') }}" rel="stylesheet" />
{% endblock %}
