{% extends "BprsStyleBundle::layout.html.twig" %}
{% block title %}{{ name|default('OKTO')~' | '~ 'oktothek_participate_title'|trans }}{% endblock %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'participate', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "participate" %}
{% block body %}
<div class="container planet_container">
    <div id="top"></div>
    <section id="univers">
        <!--<header><h1>Oktoversum</h1></header>-->
        <div id="planets">
            <!-- 1 -->
            <figure class="cloud9-item color1">
                <img src="{{ asset('bundles/app/images/heinrich.svg') }}" alt="Alt" width="300" height="200">
                <figcaption>
                    <div class="title-container"><a href="#">PraktikantInnen</a></div><div class="bg-opacity"></div>
                </figcaption>
                <nav class="subnav-item1 nav sub-left">
                    <ul>
                        {#<li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>#}
                        {#<li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>#}
                        {#<li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>#}
                    </ul>
                 </nav>
                 <nav class="subnav-item1 nav sub-right">
                    <ul>
                        <li><div class="dot"><hr></div><span class="icon"></span><a href="/page/praktikantinnen_eden">PraktikantInnenblog</a></li>
                        <li><div class="dot"><hr></div><span class="icon glyphicon glyphicon-camera"></span><a href="mailto:promo@okto.tv">Bewirb dich per mail!</a></li>
                        {#<li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>#}
                    </ul>
                 </nav>
            </figure>
            <!-- 2 -->
            <figure class="cloud9-item color2">
                <img src="{{ asset('bundles/app/images/planet1.svg') }}" alt="Alt" width="250" height="250">
                <figcaption>
                    <div class="title-container"><a href="#">Perspektivenwechsel</a></div><div class="bg-opacity"></div>
                </figcaption>
                {#<nav class="subnav-item2 nav sub-left">
                    <ul>
                        <li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>
                        <li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>
                        <li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>
                    </ul>
                </nav>#}
                <nav class="subnav-item2 nav sub-right">
                    <ul>
                        <li><div class="dot"><hr></div><span class="icon glyphicon glyphicon-plane"></span><a href="https://youtu.be/ghKqtslorX8?list=PLvqnJeIyZZwNudPq5E3abGR4wCtDu1iKw" target="_blank">Erlebe Wien in 360°</a></li>
                        {#<li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>#}
                        {#<li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>#}
                    </ul>
                </nav>
            </figure>
            <!-- 3 -->
            <figure class="cloud9-item color5">
                <img src="{{ asset('bundles/app/images/satelit.svg') }}" alt="Alt" width="250" height="250">
                <figcaption>
                    <div class="title-container"><a href="#">Kontakt</a></div><div class="bg-opacity"></div>
                </figcaption>
                {#<nav class="subnav-item3 nav sub-left">
                    <ul>
                        <li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>
                        <li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>
                        <li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>
                    </ul>
                </nav>#}
                <nav class="subnav-item3 nav sub-right">
                    <ul>
                        <li><div class="dot"><hr></div><span class="icon"></span><a href="#">Kontakt</a></li>
                        {#<li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>#}
                        {#<li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>#}
                    </ul>
                </nav>
            </figure>
            <!-- 4 -->
            <figure class="cloud9-item color3">
                <img src="{{ asset('bundles/app/images/planet2.svg') }}" alt="Alt" width="250" height="250">
                <figcaption>
                    <div class="title-container"><a href="#">Akademie</a></div><div class="bg-opacity"></div>
                </figcaption>
                <nav class="subnav-item4 nav sub-left">
                    <ul>
                        <li><div class="dot"><hr></div><span class="icon glyphicon glyphicon-education"></span><a href="/academy">Jetzt Kurse buchen</a></li>
                        <li><div class="dot"><hr></div><span class="icon"></span><a href="#">Komm zum Infoabend!</a></li>
                        {#<li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>#}
                    </ul>
                </nav>
                <nav class="subnav-item4 nav sub-right">
                    <ul>
                        <li><div class="dot"><hr></div><span class="icon glyphicon glyphicon-film"></span><a href="#">Showreel unserer Kurse</a></li>
                        {#<li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>#}
                        {#<li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>#}
                    </ul>
                </nav>
            </figure>
            <!-- 5 -->
            <figure class="cloud9-item color4">
                <img src="{{ asset('bundles/app/images/planet3.svg') }}" alt="Alt" width="250" height="250">
                <figcaption>
                    <div class="title-container"><a href="#">ProduzentInnen</a></div><div class="bg-opacity"></div>
                </figcaption>
                <nav class="subnav-item5 nav sub-left">
                    <ul>
                        <li><div class="dot"><hr></div><span class="icon"></span><a href="http://intake.okto.tv" target="_blank">Jetzt Sendung abgeben!</a></li>
                        <li><div class="dot"><hr></div><span class="icon"></span><a href="https://www.facebook.com/groups/559405997508690/?fref=ts" target="_blank">Das schwarze Brett</a></li>
                        {#<li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>#}
                    </ul>
                </nav>
                <nav class="subnav-item5 nav sub-right">
                    <ul>
                        <li><div class="dot"><hr></div><span class="icon"></span><a href="/page/die_funf_schritte_zur_sendung">{{ 'oktothek.participate_5_steps'|trans }}</a></li>
                        {#<li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>#}
                        {#<li><div class="dot"><hr></div><span class="icon"></span><a href="#">Link</a></li>#}
                    </ul>
                </nav>
            </figure>
        </div>
    </section>
</div>
<video autoplay loop id="participate_video" poster="{{ asset('bundles/app/images/sternenhimmel.jpg') }}">
        <source src="{{ asset('bundles/app/videos/sternenhimmel.mp4') }}" type="video/mp4">
        <!--<source src="{{ asset('bundles/app/videos/sternenhimmel.ogg') }}" type="video/ogg">-->
    </video>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/jquery.cloud9carousel.js') }}"></script>
    <script src="{{ asset('bundles/app/js/javascript_participate.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/participate.css') }}" rel="stylesheet" />
{% endblock %}
