{% extends "BprsStyleBundle::layout.html.twig" %}
{% block metas %}
<meta name="description" content="Um deinen Besuch bei Okto so gut wie möglich gestalten zu können, werden gewisse Daten von dir verarbeitet. Welche Daten das sind und warum wir das tun, verrät unsere Datenschutzerklärung.">
{% endblock %}
{% block title %}{{ 'oktothek_privacy_policy_title'|trans }}{% endblock %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': '', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "page" %}
{% block body_main %}
    <div id="top"></div>
    <header class="page-header">
        <h1 itemprop="headline">{{ 'oktothek_headline_dsgvo'|trans|markdown }}</h1>
    </header>
    <section class="container">
    {{ 'oktothek_dsgvo'|trans|markdown }}
    </section>
    <section class="container">
    {{ 'oktothek_user_dsgvo'|trans|markdown }}
        {% if app.user is not null and not app.user.confirmedDataUsage %}
        <p class="aligncenter">
        <a href="{{ path('confirm_privacy_policy') }}" class="btn btn-default">
            {{ 'oktothek.confirm_privacy_policy_button'|trans }}
        </a>
        </p>
    {% endif %}
    </section>
    <section class="container">
    {{ 'oktothek_contact_dsgvo'|trans|markdown }}
    </section>
    <section class="container">
    <h2>{{ 'oktothek_academy_subheadline_dsgvo'|trans|markdown }}</h2>
    {{ 'oktothek_academy_dsgvo'|trans|markdown }}
    </section>
    <section class="container">
    <h2>{{ 'oktothek_newsletter_subheadline_dsgvo'|trans|markdown }}</h2>
    {{ 'oktothek_newsletter_dsgvo'|trans|markdown }}
    </section>
    <section>
    <h2>{{ 'oktothek_analyse_subheadline_dsgvo'|trans|markdown }}</h2>
    {{ 'oktothek_analyse_dsgvo'|trans|markdown }}
    <iframe style="border: 0; height: 200px; width: 100%;" src="https://matomo.okto.tv/index.php?module=CoreAdminHome&action=optOut&language=de&backgroundColor=000000&fontColor=ecefef&fontSize=14px&fontFamily=HelveticaNeueLTStd-Roman%2C%20Helvetica%2C%20sans-serif"></iframe>
    </section>
    <section class="container">
    <h2>{{ 'oktothek_right_subheadline_dsgvo'|trans|markdown }}</h2>
    {{ 'oktothek_right_dsgvo'|trans|markdown }}
    </section>
{% endblock %}