{% extends "BprsStyleBundle::layout.html.twig" %}
{% block title %}{{ "oktothek.user_register_title"|trans}}{% endblock %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'login', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "oktothek" %}
{% block body_main %}
<div class="container login">
  <header class="page-header"><h1 class="form-signin-heading">{{'oktothek_register_header'|trans}}</h1></header>
    <section>
        <p class="subheadline">{{'oktothek_register_sub_description'|trans}}</p>
    </section>
    <section>
        <p class="subheadline">{{'oktothek_register_sub_headline'|trans}}</p>
        {{ form_start(form) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.confirmed_data_usage) }}
        <p>{{ 'oktothek.register_how_to_delete_account'|trans|raw }}</p>
        {{ form_end(form) }}
    </section>
</div>
{% endblock %}
